.g6-component-contextmenu,
.g6-component-tooltip {
  padding: 10px !important;
  li {
    cursor: pointer;
    margin-left: 0;
    line-height: 24px;
    font-size: 14px;
  }
}

.g6-component-tooltip {
  right: 0 !important;
  top: 0 !important;
  left: unset !important;
  bottom: unset !important;
  max-width: 200px;
  white-space: normal;
  word-break: break-all
}
