.parameters-list-compo {
  display: inline-block;
  border: 1px solid #d2d8e6;

  &__header {
    padding: 7px 8px;
    font-size: 14px;
    font-weight: 500;
    color: #5f677a;
    line-height: 22px;
    background: #f3f5fb;
    border-bottom: 1px solid #d2d8e6;
  }

  &__footer {
    margin-top: -1px;
    text-align: center;
    padding: 7px 8px;
    border-top: 1px solid #d2d8e6;
  }

  &__content {
    overflow-y: auto;

    &-item {
      padding: 7px 8px;
      font-size: 14px;
      font-weight: 400;
      color: #000000;
      line-height: 22px;
      border-bottom: 1px solid #d2d8e6;
    }
  }
}
