// global style
// @author CAIHUAZHI <moyan@come-future.com>
// @create 2021/07/02 15:45

@import '../../assets/styles/index.less';

.header-app .header-logo {
  border-radius: 0;
}

.header-app .header-deivider:last-child {
  display: none;
}
.h2o_header-wrapper {
  // background: rgb(203, 221, 230) !important;
  background: rgba(206, 233, 243, 0.8) !important;
}
// .matrix-title{
//   color: #000;
// }
.avatar,
.avatar-default {
  background-color: #86a0bb;
}
.matrix-title {
  display: flex;
  justify-content: space-around;
}
.username,
.userinfo,
.department,
.matrix-title,
.anticon-alert {
  // color: #FFFFFF;
  color: #0a0a0a !important;
}
.separator {
  background-color: black !important;
}

body[fone-theme='foneDark'] {
  .layout-content,
  .layout-header,
  .arco-breadcrumb,
  .vc-page-content-body,
  .ant-card-body,
  .ant-table-content,
  .ant-tabs-nav-wrap,
  .matrix-style-scoped,
  .ant-table-cell,
  .ant-select:not(.ant-select-customize-input) .ant-select-selector,
  .ant-input:placeholder-shown,
  // .arco-layout-sider-trigger .arco-layout-sider-trigger-light,
  // .bg-mask,
  // .arco-layout-sider-trigger-light,
  .ant-descriptions-view {
    background: #232324;
  }
  .ant-pro-sider {
    background: #353550 !important;
  }
  .ant-page-header {
    background: #232324 !important;
  }
  // .ant-pro-global-header {
  //   background: #232324 !important;
  // }
  // .arco-layout-sider-children,.arco-menu-light{
  //   *{
  //     // background: linear-gradient(#dae0f3, #e9edf8);
  //     background:#232324 !important ;
  //   }
  //   // background: linear-gradient(#b0c2f5, #e9edf8);
  //   background:#232324  !important;
  // }

  .arco-layout-sider-trigger-light {
    background: #232324 !important;
  }
  .vc-page-content-body,
  .ant-card-body,
  .ant-table-content,
  .ant-tabs-nav-wrap,
  .layout-header-title,
  .ant-table-cell,
  .ant-descriptions-view {
    color: white;
  }
  .ant-form-item-label > label {
    color: white !important;
  }
  .arco-layout-content {
    // border: 1px solid var(--color-neutral-3) !important; --color-mask-bg:
    * {
      background: rgba(23, 23, 26, 0.2) !important;
      color: white !important;
    }
    .all-application-page__card,
    .ant-radio-button-wrapper,
    .ant-tag-default,
    .ant-card-body {
      border: 1px solid var(--color-neutral-3) !important;
    }
  }

  .ant-space-item {
    a {
      color: #1890ff !important;
    }
  }
  .ant-table-tbody > tr td {
    color: white !important;
  }
  .ant-select-selector {
    border: 1px solid var(--color-neutral-3) !important;
  }
  .ant-input-affix-wrapper {
    border: 1px solid var(--color-neutral-3) !important;
  }
  .ant-btn-primary {
    border: 1px solid #cacfdb !important;
  }
  .ant-input {
    border: 1px solid var(--color-neutral-3) !important;
  }
  .ant-descriptions-bordered {
    padding: 10px;
    border: 1px solid var(--color-neutral-3);
    border-radius: var(--border-radius-small);
  }
  .ant-descriptions-item-label {
    background-color: var(--color-neutral-2) !important;
    border: 1px solid var(--color-neutral-3);
  }
  .ant-descriptions-item-content {
    border: 1px solid var(--color-neutral-3);
  }
  .ant-descriptions-bordered .ant-descriptions-view {
    border: 1px solid var(--color-neutral-3);
  }
  .ant-card-body {
    border: 1px solid var(--color-neutral-3) !important;
  }

  .ant-pro-basicLayout-content .ant-pro-page-container {
    margin: 0px;
  }
  .ant-pro-basicLayout-content {
    margin: 0px;
  }
  // .ant-menu{
  //   border: 1px solid var(--color-neutral-3);
  //   border-radius: var(--border-radius-small);
  // }
  .ant-table-cell {
    border-top: 1px solid var(--color-neutral-3) !important ;
    border-right: 1px solid var(--color-neutral-3) !important ;
  }
  .ant-table-content {
    border: 1px solid var(--color-neutral-3) !important;
    border-right: none !important;
  }
  .ant-menu-root .ant-menu-sub.ant-menu-inline {
    background: #232324 !important;
    color: white !important;
  }
  .ant-table-thead > tr > th {
    color: #f2f4f8 !important;
    background-color: #67678c5e !important;
  }
  .ant-dropdown-trigger,
  .ant-avatar-string {
    background: linear-gradient(#dee5f8, #f5f5f7) !important;
    color: #000 !important;
  }
  .ant-menu-submenu-arrow {
    &::after,
    &::before {
      background-color: rgb(250, 248, 248) !important;
    }
  }
}
