// global style
// @author CAIHUAZHI <moyan@come-future.com>
// @create 2021/07/02 15:45

@import '../../assets/styles/index.less';

.header-app .header-logo {
  border-radius: 0;
}

.header-app .header-deivider:last-child {
  display: none;
}
.h2o_header-wrapper {
  // background: rgb(203, 221, 230) !important;
  background: rgba(206, 233, 243, 0.8) !important;
}
// .matrix-title{
//   color: #000;
// }
.avatar,
.avatar-default {
  background-color: #92a6bb;
}
.matrix-title {
  display: flex;
  justify-content: space-around;
}
.username,
.userinfo,
.department,
.matrix-title {
  // color: #FFFFFF;
  color: #0a0a0a !important;
}
.separator {
  background-color: black !important;
}
