.tags-container{
    margin-left: 46px;
    margin-bottom: 10px;
    border: 1px solid #e6dfdf;
    padding: 10px;
    
}
.timeExpression{
    min-width: 330px;
}
.tag-value,.tag-key{
    .ant-form-item-label{
        flex: unset !important;
    }
}