.list-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  font-weight: 800;
  line-height: 18px;
  padding: 5px;

  &-active {
    background-color: #ededed;

    // .item-traceId {
    //   color: #448dfe;
    // }
  }

  .item-traceId {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #448dfe;
    font-size: 13px;
  }

  .item-message {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    color: #a7aebb;
    font-size: 12px;

    .ant-tag {
      padding: 0 2px;
    }
  }
}

.left-list-wrapper {
  height: 93%;
  overflow: auto;
}

.ant-spin-nested-loading {
  height: 100%;

  .ant-spin-container {
    height: 100%;
  }
}

.list-page {
  width: 100%;
  overflow: auto;
  margin-top: 20px;
  flex-wrap: nowrap;
  white-space: nowrap;
  /* display: flex; */
  justify-content: end;
}
