.version-publish-page{
  .ant-descriptions-title {
    display: flex;
    align-items: center;

    &::before {
      display: inline-block;
      content: '';
      margin-right: 8px;
      width: 4px;
      height: 16px;
      background: #3591ff;
    }
  }

}