


  .ticket-detail-drawer{
    .ant-tag-volcano:hover {
        cursor: pointer;
      }
      .ant-tag-gold:hover {
        cursor: pointer;
      }
      .processing-title{
          color: darkgray;

    
      }

  }