



.icon-list {
  margin-bottom: 28px;
}

.icon-item {
  position: relative;
  float: left;
  margin-right: 12px;
  margin-bottom: 12px;
  padding-bottom: 20px;
  border: 1px solid rgb(181, 210, 235);
  width: 120px;
  height: 120px;
  color: rgb(36, 43, 49);
  display: flex !important;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;

  &:hover {
    background-color: #f7f8fa;
  }

  .icon-item-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 4px;
    white-space: nowrap;
    z-index: 10;
    font-size: 14px;
    text-align: center;
  }
}
.close-Icon-cancle {
  width: 20px;
  height: 20px;
  border-radius: 16px;
  position: absolute !important;
  top: 2px;
  right: 4px;
  background-color: rgb(248, 236, 237);
  color: rgb(204, 11, 53) !important;
  z-index: 12;
  line-height: 20px;
  text-align: center;
}

.close-Icon-add {
  width: 20px;
  height: 20px;
  border-radius: 16px;
  position: absolute !important;
  top: 2px;
  right: 4px;
  background-color: rgb(236, 248, 239);
  color: rgb(112, 163, 102) !important;
  z-index: 12;
  line-height: 20px;
  text-align: center;
}
.empty-toolip {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  height: 100%;
}

.all-wrapper{
  display: flex;
  background-color: #f3f7ff;
  height: 100%;
  width: 100%;
 .left-wrapper{
   flex: 4;
   margin-left: 40px;
   position: relative;
   .left-top{
     display: flex;
     flex-direction: column;
    .title{
      font-size: 100px;
      color:#2F70F4 ;
    }
    .desc{
      font-size: 15px;
      color:#838a9a;
      font-weight: 800;
      margin-top: -26px;
      margin-bottom: 30px;
      align-items: center;
      margin-left: 23px;
    }
   }
  .left-bottom{
    position: absolute;
    bottom: 30px;
    .announce{ 
      z-index: 1;
      position: relative;
      width: 435px;
      height: 124px;
      margin-bottom: 20px;
      background-color: #FFFFFF;
      padding:10px;    
      box-shadow: 1px 4px 6px 0px rgba(190,207,231,0.3);
      border-radius: 8px;
      &-item{
        line-height: 17px;
        margin-top:15px;
      }
    }
    .doc{
      z-index: 1;
      position: relative;
      width: 435px;
      height: 170px;
      background-color: #FFFFFF;
      padding:10px;
      box-shadow: 1px 4px 6px 0px rgba(190,207,231,0.3);
      border-radius: 8px;
      .doc-item{
        display: flex;
        flex-wrap: wrap;
        line-height: 25px;
        margin-top:15px;
      }
    }
  }
 }
 .right-wrapper{
   flex: 6;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  // import earthLight from '@/assets/imgs/earthLight.png';
  // import earthDark from '@/assets/imgs/earthDark.png';

  background-image: url(~@/assets/imgs/earthLight.png);
  &>.tip{
    flex: 1 100%;
    align-items: flex-end;
    text-align: end;
    padding: 30px 0;
    text-align: center;
    margin-left: -70px;
    z-index: 11;
    img{
      // animation: bounce 3s ease infinite;
      animation-name: bounce;
      animation-timing-function: ease-in-out;
      animation-duration: 2.4s;
      animation-iteration-count: infinite;
      width: 140px;
    }
  }
  &>.tip:nth-child(1){
    img{
      animation-delay: 0.4s;
    }
  }
  &>.tip:nth-child(2){
    img{
      animation-delay: 0.8s;
    }
  }
  &>.tip:nth-child(3){
    img{
      animation-delay: 1.2s;
    }
  }
  &>.tip:nth-child(4){
    img{
      animation-delay: 1.6s;
    }
  }
  &>.tip:nth-child(5){
    img{
      animation-delay: 2s;
    }
  }
  &>.tip:nth-child(2n+1){
    align-items: flex-start;
    margin-left: 280px;
  }

  &>.cube{
    position: absolute;
    left: 0;
    bottom: 0;
    
    .img{
//       import cubeLargeDark from '@/assets/imgs/cube-large-dark.svg';
// import cubeLargeLight from '@/assets/imgs/cube-large-light.svg';
// import cubeSmallDark from '@/assets/imgs/cube-small-dark.svg';
// import cubeSmallLight from '@/assets/imgs/cube-small-light.svg';
    
      animation-name: spin;
      animation-timing-function: linear;
      animation-duration: 18s;
      animation-iteration-count: infinite;
    }
    &.large{
      bottom: -50px;
      left: -140px;
      
      .img{
        background-image: url(~@/assets/imgs/cube-large-light.svg);
        width: 428px;
        height: 426px;
      }
    }
    &.small{
      left: 60px;
      bottom: 30px;
      .img{
        background-image: url(~@/assets/imgs/cube-small-light.svg);
        width: 259px;
        height: 257px;
      }
    }
  }
 }
 .icon-item{
  background-color: 'white' !important;
  border-radius: '10px' !important; 
  margin-right: '20px' !important; 
 }
}
// 暗黑模式
body[matrix-theme='matrixDark'] .all-wrapper{
  * {
    background:unset !important;
  }
  background: rgb(29,28,31) !important;
  img{
    background-color :unset !important;
  }
  .left-wrapper{
    background-color :unset !important;
    .left-top{
      background-color :unset !important;
      .title, .desc{
        box-shadow: unset;
        background-color :unset !important;
      }
    }
    .left-bottom{
      .announce , .doc{
        box-shadow: unset;
        background-color: rgb(89 89 90) !important
      }
    }
  }
  .right-wrapper{
    background-color :unset !important;
    background-image: url(~@/assets/imgs/earthDark.png)  !important;
    background-size: cover !important;
    .cube, .tip{
      background-color :unset !important;
    }
  }
  .right-wrapper .cube.large .img{
    background-color :unset !important;
    background-image: url(~@/assets/imgs/cube-large-dark.svg)  !important;
  }
  .right-wrapper .cube.small .img{
    background-color :unset !important;
    background-image: url(~@/assets/imgs/cube-small-dark.svg) !important;
  }
}
.bounce {
  animation: bounce 2s ease infinite;
}
@keyframes bounce {
    30% { transform:translateY(0%); }
    60% { transform:translateY(-15%); }
    100% { transform:translateY(0%); }
    // 95% { transform:translateY(-7%); }
    // 97% { transform:translateY(0%); }
    // 99% { transform:translateY(-3%); }
    // 100% { transform:translateY(0); }
}
@keyframes pulse {
  from { transform: scale(1); }
  to { transform: scale(1.2); }
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
