.namespace-table{
    width: 100%;
    overflow: scroll;
    padding-bottom: 18px;

   
      &-header{
          display: flex;
          justify-content: space-between;
      }
     
  }
  .namespace-wrapper{
    display: flex;
    flex-direction: column;
    padding: 16px 12px;
    height: 100%;
  }