.diff-config-header{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 8px;
    background-color:#FAFAFA;
    padding: 8px;
    border-radius: 4px;
    >span{
      //font-size: larger;
      font-weight: 800;
    }
    // &:nth-child(1){
    //     width: '58%';
    // }
}