button#useNacos.ant-switch.useNacos.ant-switch-checked {
  background: rgb(20, 153, 53);
}

button#isBlock.ant-switch.isBlock.ant-switch-checked {
  background: rgb(226, 5, 5);
}

button#needApply.ant-switch.needApply.ant-switch-checked {
  background: #3abce0;
}
