

  .authority-apply{
    .ant-form-inline .ant-form-item {
        margin-bottom: 10px;
      }
      .authority-wrapper{
        display: flex;
        flex-direction: column;
        padding: 0px 12px;
        height: 100%;
      }

  }