iframe{
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.monitor-content-card .ant-card-body{
  height: 100%;
  padding: 0;
  .monitor-content {
    width: 100%;
    height: 100%;
    display: flex;

    .ant-tabs-nav {
      height: 100%;
    }

    .ant-spin-nested-loading {
      flex: 1;
      box-sizing: border-box;
      padding: 12px;
    }
  }
}

