.test-workspace-test-plan-add-test-plan-drawer {
  .test-case-tree-select {
    width: 100%;
  }

  .btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
  }

  .ml-12 {
    margin-left: 12px;
  }
}
