.quality-control-app-control-point-rules {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;

    .title-and-search {
      .keyword-search-input {
        width: 220px;
        margin-left: 24px;
      }
    }
  }
}
