.tabs-extra {
    display: flex;
    background-color: #e6ebf5;
    padding: 0px 5px;
    height: 100%;
    line-height: 39px;
    .tabs-extra-select {
      padding: 0 20px;
      height: 100%;
      line-height: 39px;
      background-color: #e6ebf5;
      // display: block;
    }
  }