.global-topo {
  .content-header {
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #d2d8e6;

    display: flex;
    justify-content: space-between;
  }

  .graph-box {
    height: 100%;
  }
  .topo-box {
    height: 100%;
  }
  .ant-card-body {
    height: 100%;
  }
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ccc;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  margin: 20px;
}
.box .text {
  text-align: center;
}
