.global-topo {
  background-color: #d2d8e6;

  .topo-header {
    background-color: #f7f8fa;
    padding: 14px;
    border: 1px solid #d2d8e6;
    border-bottom: none;

    .content-header {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .env-name {
        font-size: 16px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #000000;
      }
    }
  }

  .graph-box {
    height: 100%;
  }

  .topo-box {
    height: 100%;
  }

  .ant-card-body {
    height: 100%;
  }
}

.g6-component-toolbar {
  li:nth-child(1) {
    display: none;
  }
  li:nth-child(2) {
    display: none;
  }
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ccc;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  margin: 20px;
}

.box .text {
  text-align: center;
}
