.global-topo {
  .ant-card-body {
    padding: 10px;
  }
  .content-header {
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #d2d8e6;

    display: flex;
    justify-content: space-between;
  }
}
