// 环境detail
// @author CAIHUAZHI <moyan@come-future.com>
// @create 2021/05/28 10:47

.page-env-detail {
  .ant-card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .ant-form {
    flex: 1 1 0;
    overflow: auto;
  }

  .float-action-group {
    flex: 0 0 auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    > button + button {
      margin-left: 12px;
    }
  }

  .action-cell {
    > a + a {
      margin-left: 12px;
    }
  }

  .ant-pro-table .ant-card-body {
    padding-left: 0;
    padding-right: 0;
  }

  .wrapper-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .ant-collapse:empty {
    border: 0;
  }

  .ant-collapse-content-box {
    background-color: #eff1f5;
  }
}
