.cluster-main{
    .search-wrapper{
        border-bottom: solid 1px #ededed;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
    }

    // .vc-page-content-body>.ant-card-body{
    //     height: 100%;
    //     display: flex;
    //     flex-direction: column;
    //     .ant-tabs{
    //         flex: 1;
    //         overflow: auto;
    //         display: flex;
    //         flex-direction: column;
    //         .ant-tabs-content-holder{
    //             flex: 1;
    //             overflow: auto;
    //         }
    //     }
    // }
}