.block-data-info {
  display: flex;
  // .convertBoxWidth(width,810);
  // background-color: #f7f8fa;
  background-color: #edf8f5;
  height: 24px;
  align-items: center;
  margin-bottom: 12px;

  // &::before {
  //   display: inline-block;
  //   content: '';
  //   margin-right: 8px;
  //   width: 4px;
  //   height: 24px;
  //   background: #1973cc;
  // }
}
