.page-content {
  display: flex;
  flex-direction: column;
  .page-top {
    .page-top-form {
      display: flex;
      justify-content: space-between;
    }
  }
  .page-bottom {
    position: absolute;
    bottom: 16px;
    right: 16px;
  }
}
.expand-table {
  .ant-table-expanded-row {
    .ant-table-cell {
      .ant-table {
        border-top: 1px solid #d2d8e6;
        border-bottom: 1px solid #d2d8e6;
        margin: 24px 85px !important;
      }
    }
  }
}
