.ant-table-cell {
  Button.ant-switch.useNacos.ant-switch-checked {
    background: rgb(9, 110, 34);
  }
}

.ant-table-cell {
  Button.ant-switch.isBlock.ant-switch-checked {
    background: rgb(170, 84, 99);
  }
}
.ant-table-cell {
  Button.ant-switch.needApply.ant-switch-checked {
    background: #3abce0;
  }
}
.ant-table-cell {
  Button.ant-switch.switch.ant-switch-checked {
    background: #3591ff;
  }
}

.app-env-management {
  .ant-form-inline .ant-form-item {
    margin-bottom: 10px;
  }
}
