// .ant-tabs-tab .ant-tabs-tab-with-remove 

.sql-console-tabs{
    .ant-tabs-tab-active{

       
      border-top: 1px solid rgb(191, 196, 211) !important;
      border-left: 1px solid rgb(191, 196, 211) !important;
      border-right: 1px solid rgb(191, 196, 211) !important;
      border-bottom: 1px solid rgb(244, 244, 246) !important;
      background-color:  rgb(244, 244, 246) !important;
        }
       
}
.add-btn{
  display: inline-block;
  width: 38px;
  // border-radius: 4px;
  >a{
    margin-left: 10px;
  }
}
