.test-workspace-test-case-right-detail {
  .detail-container {
    .add-btn-wrapper {
      position: relative;
      padding: 12px 0;
      height: 52px;

      .add-case-btn {
        position: absolute;
        right: 0;
      }
    }

    .detail-table {
      table {
        width: 100%;
      }
    }
  }
}
