.release-apply-page {
  &__filter-form {
    .fe-end-Select,
    .fe-end-Input {
      width: 140px;
    }
  }

  &__table-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;

    h3 {
      flex: 1;
      line-height: 32px;
      font-size: 16px;
      margin-bottom: 0;
    }
  }
}

.apply-detail-drawer {
  .ant-drawer-wrapper-body {
    background-color: #f0f2f5;
  }
  &-box-list {
    background-color: #fff;
  }
 
  &-box {
    padding: 24px 24px 0;
    background-color: #fff;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    &-title {
      overflow: hidden;
      color: rgba(0, 0, 0, 0.85);
      font-weight: 700;
      font-size: 16px;
      line-height: 1.5715;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-bottom: 20px;
    }
    .ant-col {
      padding-bottom: 8px;
    }
   
  }

  &-ticket{
    background-color: #fff;
   
  }
  &-ticket-box{
    padding: 24px 24px 0;
    background-color: #fff;
    padding-bottom: 16px;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    display: flex;
    .approval-button{
      // float: right;
     justify-content: flex-end;
  
      }

   
  }
  .approval-log{
    padding: 0px 30px 10px 30px;
  }
}
