.basic-performance-wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;

  .env-select-wrapper {
    position: absolute;
    left: 10px;
    top: 10px;
  }

  .group-performance {
    width: 100%;
    box-sizing: border-box;
    padding: 17px 27px;
    background: #fff;

    .performance-chart {
      width: 100%;
      height: 300px;
      margin-top: 20px;
    }
  }

  .page-performance {
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    padding: 10px 27px;
  }
}
