.basic-performance-wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;

  .group-performance {
    width: 100%;
    box-sizing: border-box;
    padding: 17px 27px;
    background: #fff;

    .line-chart {
      width: 100%;
      height: 300px;
      margin-top: 20px;
    }
  }

  .page-performance {
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    padding: 10px 27px;
  }
}
