.application-detail-page {
  &__header {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    line-height: 24px;
  }

  .tab-right-extra {
    display: flex;
    align-items: center;
    .roll-back-page {
      // padding-right: 16px;
    }

    > h4 {
      color: #333;
      font-size: 18px;
      font-weight: bold;
      margin: 0 12px 0 0;
    }

    > span {
      color: #999;
    }
  }
}

.ant-table-tbody > tr td {
  word-break: break-all !important;
}
