// table field style
// @author CAIHUAZHI <moyan@come-future.com>
// @create 2021/06/02 08:18

.table-kv-field {
  .table-kv-addline {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    border: 1px solid #d2d8e6;
    border-top: 0;
  }
}
