.ant-tag-geekblue:hover {
    cursor: pointer;
  }

  .ant-tag-cyan:hover {
    cursor: pointer;
  } 
  .station-deploy-content{
      padding: 8px;
      padding-top: 16px;
      .package-type-description{
        margin-right: 6px;
      }

  }