.detail-wrapper {
  line-height: 32px;
  padding: 20px;

  .detail-item {
    display: flex;
  }

  .title {
    font-size: 14px;
    font-weight: bolder;
  }

  .log-item,
  .detail-item {
    .log-item-label {
      font-weight: bold;
    }

    .log-item-value {
      margin-left: 20px;
      white-space: pre;
      overflow-x: auto;
    }
  }
}

.ant-modal-content {
  border-radius: 7px;
}
