// function manager
// @author CAIHUAZHI <moyan@come-future.com>
// @create 2021/05/30 10:55

.page-test-functions {
}

.test-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
