.overview-tabs-content-tag {
  // &-tag {
  border-radius: 2px;
  padding: 1px 7px;
  width: 60px;
  box-sizing: border-box;
  color: #fff;
  background-color: #439d75;
  font-size: 12px;
  text-align: center;
  display: inline-block;
  //   }
}
.database-overview{
  // display: flex;
  // flex-direction: column;
  // overflow: auto;
  // height: 100%;
  .statistic-content{
     padding: 0 12px 0 12px;
   .ant-statistic{
      background-color: #fafafa;
      border: 1px  solid rgb(224, 224, 224);
      padding: 14px;
      height: 160px;
      border-radius: 4px;
      &:hover{
        background-color:  #c1dbf8;
        border: 1px  solid #8ad0ff;
      }
     

    }

  }
 

}


