.overview-tabs-content-tag {
  // &-tag {
  border-radius: 2px;
  padding: 1px 7px;
  width: 60px;
  box-sizing: border-box;
  color: #fff;
  background-color: #439d75;
  font-size: 12px;
  text-align: center;
  display: inline-block;
  //   }
}
