.cs-detail{
    >div:not(:first-child){
        margin-bottom: 15px;
    }
    .return-name{
        margin-left: 10px;
    font-weight: bolder;
    font-size: 16px;
    }
    .title{
        font-size: 16px;
        font-weight: bolder;
        padding: 2px 5px;
        border-radius: 1px;
    }
    .ant-empty-normal{
        border: 1px solid #ededed;
        padding: 30px;
        margin-top: 15px;
    }
    // .form-wrapper {
    //     max-height: 400px;
    //     overflow: auto;
        .ant-form {
            display: flex;
            flex-direction: column;
        }
        .ant-row.ant-form-item {
          flex-direction: column;
          // margin:0px;
          .ant-form-item-label {
            text-align: center;
          }
        }
        .v-item .ant-row.ant-form-item-row {
          flex-direction: column;
          align-items: center;
        }
        .ant-space-item {
          align-self: center;
          line-height: 33px;
          .tag-icon {
            vertical-align: baseline;
            line-height: 85px;
          }
        }
        .tag-wrapper {
            border: 1px solid #d4d1d1;
            padding: 10px;
            margin-top: 10px;
            min-height: 100px;
            .ant-tag {
              margin-bottom: 5px;
            }
          }
          .ewe_edit_button{
              display: none;
          }
    // }
}

.add-data-modal{
    .ewe_edit_button{
        display: none;
    }
    .ant-space-item {
        align-self: end;
        line-height: 33px;
        .tag-icon {
          vertical-align: baseline;
          line-height: 50px;
        }
      }
}
