.import-data-info {
  display: flex;
  background-color: #f7f8fa;
  height: 24px;
  align-items: center;
  margin-bottom: 12px;

  &::before {
    display: inline-block;
    content: '';
    margin-right: 8px;
    width: 4px;
    height: 24px;
    background: #1973cc;
  }
}

.export-data-info {
  display: flex;
  background-color: #f7f8fa;
  height: 24px;
  align-items: center;
  margin-top: 12px;

  &::before {
    display: inline-block;
    content: '';
    margin-right: 8px;
    width: 4px;
    height: 24px;
    background: #1973cc;
  }
}

.export-button {
  display: flex;
  align-items: center;
  margin-left: 12px;
  margin-top: 10px;
}
.downloadButton {
  line-height: 2 !important;
}
