.ticket-detail-title{
    display: flex;
    width: 100%;
    background-color:#eeeeee;
    justify-content: space-between;
    // border: 1px solid gainsboro;
    padding: 10px;
    margin-bottom: 12px;
    &-left{
        width: 80%;
        span + span {
            margin-left: 40px;
          }

    }
    &-right{
        width: 20%;
    }
   
}
.back-go{
    .ant-tag:hover {
        cursor: pointer;
      }
  }

.ticket-detail-footer{
    display: flex;
    width: 100%;
    background-color:#ffffff;
    justify-content: space-between;
    // border: 1px solid gainsboro;
    padding: 10px;
    margin-bottom: 12px;
    &-left{
        width: 80%;
        span + span {
            margin-left: 40px;
          }

    }
}
// .approval-end{
//     height: 100%;
//     overflow: scroll;
// }