// case editor
// @author CAIHUAZHI <moyan@come-future.com>
// @create 2021/05/30 20:14

.test-case-editor {
  .ant-drawer-body {
    padding: 20px 32px;
    background-color: #f7f8fa;
  }

  .ant-steps {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .case-editor-step {
    display: none;

    &[data-visible='true'] {
      display: block;
    }
  }

  .case-editor-footer {
    text-align: right;

    button + button {
      margin-left: 12px;
    }
  }

  .func-table-field,
  .case-table-field {
    margin-bottom: 24px;
  }

  .case-table-field {
    .ant-empty {
      margin: 0;
      padding: 32px 0;
      background-color: #fff;
      border: 1px solid #cacfdb;

      + .ant-collapse:empty {
        display: none;
      }
    }

    .case-info-list {
      display: flex;
      align-items: center;
      margin-bottom: 16px;

      > li {
        flex: 0 0 auto;
        margin-right: 32px;
      }
    }

    .ant-table {
      margin-bottom: 16px;
    }

    h4 {
      font-size: 14px;
    }
  }

  .field-caption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;

    > h3 {
      font-size: 14px;
      margin: 0;
    }
  }
}
