.npm-detail-overview {
  box-sizing: border-box;
  padding: 10px;

  .ant-descriptions-title {
    display: flex;
    align-items: center;
    font-size: 16px;

    &:before {
      display: inline-block;
      content: "";
      margin-right: 8px;
      width: 4px;
      height: 16px;
      background: #1973cc;
    }
  }
}
