.session-manage-compo{
  .table-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
  }
    &__title {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        color: #000000;
        line-height: 24px;
        margin-bottom: 0px;
        // margin-bottom: 16px;
    
        &::before {
          display: inline-block;
          content: '';
          margin-right: 8px;
          width: 4px;
          height: 16px;
          background: #3591ff;
        }
    }
  .session-card,.ant-statistic{
    background-color: #fafafa;
    border: 1px  solid rgb(224, 224, 224);
    padding: 14px;
    // height: 58px;
    border-radius: 4px;
    &:hover{
      background-color:  #c1dbf8;
      border: 1px  solid #89bdfc;
    }
  }
  .sql-limiting{
    margin-top: 10px;
  }
  .sql-statistics{
    margin-top: 10px;






  }

}

