.test-filter-form {
  .ant-form-item {
    margin-bottom: 12px;
  }
}

.test-full-modal {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  margin: 0;
  top: 0;
  padding-bottom: 0;

  .ant-modal-content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .ant-modal-body {
    flex: 1;
    overflow: hidden;
  }
}

.test-modal-log {
  height: 100%;
  overflow: auto;
}
