.page-div {
  border: 1px solid #d9d9d9;
  padding: 2px 5px;
  margin-left: 5px;
  &.disable {
    color: #00000040;
    background: 0 0;
    cursor: not-allowed !important;
    background: #e6e6e6;
    border-color: #d9d9d9;
  }
}
.page-div:hover {
  cursor: pointer;
}
.count {
  color: #1890ff;
  font-size: 14px;
  margin: 0px 2px;
}
