.basic-fe-monitor-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  background: #d2d8e6;

  .app-group-tab-wrapper {
    height: 100%;
    background: #fff;
    margin-right: 10px;
    .tablist {
      height: 100%;
    }
    .ant-tabs-content-holder {
      display: none;
    }
  }

  .app-group-content-wrapper {
    flex: 1;
    height: 100%;

    .ant-tabs {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      background: #d2d8e6;

      .ant-tabs-nav {
        margin-bottom: 10px;
      }

      .ant-tabs-nav-wrap {
        background: #fff;
        padding: 0 10px;
      }

      .ant-tabs-content-holder {
        width: 100%;
        flex: 1;
        background: #f3f5fb;
      }

      .ant-tabs-content,
      .ant-tabs-tabpane {
        height: 100%;
      }
    }
  }

  .flex-row-center {
    display: flex;
    align-items: center;
  }

  .basic-header {
    justify-content: flex-end;
    width: 100%;
    height: 48px;
    border-radius: 2px 2px 0 0;
    box-sizing: border-box;
    padding: 0 16px;

    .basic-header-title {
      font-weight: 500;
      font-size: 16px;
    }
  }
}
