.app-traffic-chart-modal{
    .ant-modal-body{
        background-color: #f3f1f14d;
    }
    .chart-container{
        display: flex;
        flex-wrap: wrap;
        
    }
    .chart-main{
        display: flex;
        background-color: #fff;
        padding: 10px;
        flex-direction: column;
        flex:1 1 45%;
        height: 300px;
        margin:6px
    }
}