.npm-list-page {
  .vc-page-content-filter {
    .ant-card-body {
      padding: 12px 24px;
      .ant-form-item {
        margin-bottom: 0;
      }
    }
  }
  .list-btn-wrapper {
    position: absolute;
    right: 24px;
    bottom: 12px;
  }
}
