.ant-transfer {
  display: flex;
  .ant-transfer-list,
  .ant-transfer-list {
    width: 300px;
  }
  .ant-transfer-operation {
    width: 30px;
  }
}
.drawer-environ-footer {
  display: flex;
  justify-content: flex-end;
}
