.ant-transfer {
  display: flex;
  .ant-transfer-list {
    width: 400px;
    height: 400px;
  }
  .ant-transfer-operation {
    width: 30px;
  }
}
.drawer-environ-footer {
  display: flex;
  justify-content: flex-end;
}
