@danger: rgb(255, 77, 79);

.fe-end-enum-rows {
  display: flex;
  flex-direction: row;

  .ant-input {
    width: 40%;
  }

  .fe-end-enum-rows-delete {
    font-size: 20px;
    color: @danger;
    padding-top: 6px;
    margin-left: 6px;
  }
}
