// border: 1px solid #ededed;
// border-radius: 20px;
// padding: 7px
.publish-content-compo-wrapper-new{
    padding: 20px;
    // width: 100%;
    max-height: 360px;
    overflow: auto;
    margin-top: 16px;
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 2px;
    border: 1px solid #e4e7ed;
    .suject-finish {
        .sub_process-wrapper::after {
          background-color:  #3591ff;
        }
      }
      
      .sub_process {
        box-sizing: border-box;
        padding-left: 97px;
        height: 118px;
        position: relative;
      
        &-wrapper {
          position: relative;
          display: inline-block;
      
          &::before {
            position: absolute;
            content: '';
            left: 0;
            top: 46px;
            width: 1px;
            height: calc(100% - 131px);
            background-color: #d2d8e6;
          }
      
          &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 46px;
            width: 1px;
            height: calc(100% - 131px);
            background-color: #d2d8e6;
          }
          .ant-steps-item:first-child{
            margin-left: 25px;
          }
        }
      
        &-steps {
          padding: 24px 0 24px 30px;
          box-sizing: border-box;
        }
      
        // .ant-steps-item {
        //   flex: 1;
        //   min-width: 150px;
        //   position: relative;
        //   &:last-child {
        //     min-width: max-content;
        //   }
        // }
        .ant-steps-item {
          flex-grow: 1;
        }

         .ant-steps-item-container{
             border: 1px solid #ededed;
            border-radius: 20px;
            display: flex;
            padding: 7px;
            .ant-steps-item-content{
                display: flex;
            }
         }
      
        .ant-steps-item:last-child {
          box-sizing: border-box;
          padding-right: 50px;
      
          &::after {
            position: absolute;
            right: 0;
            top: 0;
            width: 50px;
            height: 16px;
            border-bottom: 1px solid #d2d8e6;
            border-radius: 0 0 12px 0;
            content: '';
          }
        }
      
        .ant-steps-item-finish {
          &::after {
            border-color:  #3591ff !important;
          }
        }
      
        &-title {
          position: absolute;
          color: #00000073;
          left: 0;
          top: -1px;
          width: 120px;
          height: 42px;
          border-bottom: 1px solid #d2d8e6;
          border-radius: 0 0 0 12px;
          box-sizing: border-box;
          padding: 4px;
          display: flex;
          align-items: flex-end;
          cursor: pointer;
          font-size: 12px;
      
          span {
            margin-left: 6px;
          }
        }
      
        &-0 {
          margin-top: 15px;
      
          &::before {
            content: none;
          }
        }
      
        &-active {
          .sub_process-title {
            border-color:  #3591ff;
            color:  #3591ff;
          }
        }
       
      }
}