.all-application-page {
  .vc-page-content-body {
    background-color: #f8f8f8;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  .all-application-page__card-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-pagination-wrap {
    margin: 16px 0;
    display: flex;
    justify-content: flex-end;
  }
}
