.fe-end-basicform {
  .ant-form-item {
    .fe-end-InputNumber {
      width: 90px;
    }

    .fe-end-Input,
    .fe-end-Select,
    .fe-end-DatePicker {
      width: auto;
      min-width: 200px;
    }

    .fe-end-RangePicker {
      width: auto;
      width: 400px;
    }
  }
}
