.drag-wrapper {
  bottom: 0;
  position: fixed;
  top: 5%;
  pointer-events: none;
  width: 100%;
  height: 90%;
  left: 0;

  .app-modal-content .app-modal-body {
    padding: 12px;
    padding-top: 8px;
  }
  .footer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    margin-bottom: 12px;
  }
}
.echart-group {
  // padding-top: 30px;
  // padding-bottom: 30px;
  // display: flex;
  // flex-wrap: wrap;

  // justify-content: space-around;
  // gap: 50px;

  // border-bottom: 1px solid #666;
  margin-bottom: 12px;
}
.clear {
  clear: both;
}
