.traffic-detail-page{
  
    
    &-header{
      .ant-card-body {
          padding: 10px 16px;
        }
    }
  .traffic-detail-filter{
      display: flex;
      justify-content:space-between;
      align-items: center;
    
  }
  &-content{
    .ant-card-body {
      padding: 0px;
    }
    .left-content-title{
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgb(207, 207, 207);
    }
    .left-content-detail{
      margin-top: 10px;
    }
  }

}
