.back-btn-container {
  padding: 10px;

  .back-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;

    .back-btn-title {
      padding-left: 8px;
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.slide-card {
  height: 100%;

  .ant-card-body {
    height: 100%;
  }
}

.empty-div {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
