.application-list-page {
  &__filter-form {
    .fe-end-Select,
    .fe-end-Input {
      width: 140px;
    }
  }

  &__table-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;

    h3 {
      flex: 1;
      line-height: 32px;
      font-size: 16px;
      margin-bottom: 0;
    }
  }
  &__table-body {
    .ant-table-tbody > tr > td {
      word-break: break-all;
    }
  }
}
