// operation dashboard
// @author CAIHUAZHI <moyan@come-future.com>
// @create 2021/07/28 10:44

.cluster-dashboard {
  position: relative;

  .ant-card-body {
    height: 100%;
    padding: 0;
  }

  iframe {
    display: block;
    width: 100%;
    height: 100%;
  }

  .action-group {
    position: absolute;
    z-index: 100;
    right: 12px;
    top: 12px;
    white-space: nowrap;

    > button {
      margin-left: 12px;
    }
  }
}
