.test-workspace-test-plan {
  .add-test-paln-btn-container {
    display: flex;
    justify-content: flex-end;
    padding: 12px 0;
  }

  .test-plan-table {
    border-top: 1px solid #d2d8e6;
  }

  .w-80 {
    width: 80px;
  }
}
