.test-workspace {
  .test-page-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  .inline-item {
    display: flex;

    span {
      width: 100px;
    }
  }
}
