.test-workspace-bug-manage {
  .search-header {
  }

  .bug-table-container {
    .add-bug-btn-container {
      width: 100%;
      padding: 12px 0;
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;

      .bug-table-title {
        font-size: 16px;
        color: #000000;
        font-weight: bold;
      }
    }

    .bug-table {
      border-top: 1px solid #d2d8e6;
    }
  }

  .w-100 {
    width: 100px;
  }

  .w-120 {
    width: 120px;
  }

  .w-60 {
    width: 60px;
  }
}
