.addTicket {
  display: flex;
  align-items: center;
  justify-content: center;
  .resourceApply {
    //   width: 36em
    border: 1px solid #d3d3d3;
    box-shadow: darkgrey 10px 10px 20px 5px; //边框阴影
    //   width: 1000px;
    width: 78em;
  }
}
