.source-code-edit-container {
  display: flex;
  gap: 30px;

  .edit-container {
    width: 600px;

    .select-container {
      margin-bottom: 12px;

      .select-item {
        width: 112px;
      }
    }
  }

  .variable-pool {
    width: 300px;
    display: flex;
    flex-direction: column;

    .search-header {
      margin-bottom: 12px;
    }

    .variable-pool-table {
      flex: 1;
    }
  }
}
