// app-card
.monitor-app-card {
  padding: 32px;
  background-color: #fff;
  border-radius: 2px;
  .app-header {
    height: 24px;
    line-height: 24px;
    display: flex;
    flex-direction: row;
    .app-title {
      flex: 1;
      font-size: 14px;
    }
    .app-operate-icon {
      margin-right: 16px;
    }
    .app-operate-switch {
      font-size: 12px;
    }
  }

  .app-content {
    height: 200px;
    padding-top: 12px;
  }
}

.monitor-time-select {
  .ant-select-selection-item {
    text-overflow: inherit;
  }
}