.grafana-iframe{
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  // ::v-deep.sidemenu{
  //   display: none !important;
  // }
  

}


.grafana-iframe-info /deep/ .sidemenu__logo{

  display: none !important;
  // >img{
  //   display: none !important;
  // }
  }
