.ant-tag-geekblue:hover {
  cursor: pointer;
}
.recordAdd {
  .ant-form .ant-row.ant-form-item .ant-form-item-control {
    overflow: none !important;
  }
  .ant-select-selection-search-input,
  .ant-select-selection-search {
    overflow: none !important;
  }
  .ant-select-selector {
    overflow: none !important;
  }
  .ant-select-show-search {
    overflow: none !important;
  }
}
