.task-report-row {
  display: flex;
  min-height: 590px;

  &.report-loading {
    align-items: center;
    justify-content: center;
  }

  .task-report-left {
    flex: 0 0 476px;
    margin-right: 12px;
    background-color: #fff;
  }

  .task-report-summary {
    padding: 20px;
    display: flex;
    border-bottom: 1px solid #d2d8e6;

    .summary-info {
      flex: 0 0 180px;

      h4 {
        font-size: 14px;
        margin-bottom: 14px;
      }

      b {
        display: block;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 12px;
      }

      p {
        color: #999;
        margin-bottom: 8px;
        font-size: 12px;
      }
    }

    .summary-chart {
      flex: 1 1 0;
      margin-left: 16px;
    }
  }

  .task-report-tree-wrapper {
  }

  .task-report-tree-caption {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0 20px;
    border-bottom: 1px solid #d2d8e6;

    h4 {
      flex: 1 1 0;
      font-weight: normal;
      margin: 0;
    }

    span {
      flex: 0 0 48px;
      margin-left: 8px;
    }
  }

  .task-report-tree {
    padding: 20px;
    height: 360px;
    overflow: hidden;
  }

  .task-report-right {
    flex: 1 1 0;
  }
}
