// .app-list-tree {
//   border: 1px solid cadetblue;
// }

.app-list-show {
  margin-left: 34px;
  display: flex;
  align-items: center;
  &::before {
    display: inline-block;
    content: '';
    margin-right: 8px;
    width: 4px;
    height: 18px;
    background: #1973cc;
  }
}

.table-caption-application {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  .ant-pro-table{
    .ant-card{
      .ant-card-body{
        &:first-child{
          padding-bottom: 12px !important;
        }
      }
     

    }
  }
  // .ant-card-body{
  //   padding-bottom: 20px !important ;
  // }
}
.version-detail-back {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 8px;
}
// .ant-tabs-nav-wrap {
//   .ant-tabs-nav-list {
//     // border: 1px solid rgb(192, 189, 189);
//     box-shadow: 5px 5px 10px rgb(155, 152, 152);
//   }
// }
.version-detail {
  // .basic-info-description {

  //   padding: 8px;
  // }
  // .ant-divider-horizonta{
  //   margin: 0 !important;
  // }
  // .ant-divider .ant-divider-horizontal{
  //   margin: 0;
  // }
  // .ant-tabs-nav .ant-tabs-nav-wrap {
  //   // box-shadow: 5px 5px 10px rgb(155, 152, 152);
  //   background-color: rgb(224, 230, 242);
  // }
  // .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab {
  //   border: none;
  //   border-radius: 0;
  //   background-color: #e6ebf5;
  //   border-bottom: 1px solid #cacfdb;
  //   border-left: 1px solid #cacfdb;
  //   height: 40px !important;
  // }

  // .ant-tabs-nav-list {
  //   background-color: #e6ebf5;
  // }
  // .basicInfo {
  //   > .ant-tabs-nav:nth-of-type(1) {
  //     .ant-tabs-nav-list {
  //       height: 500px;
  //       background-color: #e6ebf5;
  //     }
  //   }
  //   // >.ant-tabs-nav:nth-of-type(2){
  //   //   .ant-tabs-nav-list{

  //   //     background-color: #e6ebf5;
  //   //   }
  //   // }
  // }
  .version-detail-info {
    background-color: rgb(243, 243, 245);
    // padding: 10px;
  }
  .compontents-delete-button{
    margin-top: 10px;
  }
  .ant-descriptions-title {
    display: flex;
    // background-color: #f7f8fa;
    height: 24px;
    align-items: center;
    margin-top: 12px;

    &::before {
      display: inline-block;
      content: '';
      margin-right: 8px;
      width: 4px;
      height: 18px;
      background: #1973cc;
    }
  }
}
