// less 文件
.monitor-board-content {
  height: 100%;

  .ant-card-body {
    height: 100%;
    overflow: hidden;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #f7f8fa;
  }

  .monitor-tabs {
    .ant-tabs-tab {
      padding-left: 32px;
      padding-right: 32px;
      border-top: none;
      border-left: 0;
      margin: 0 !important;
      border-radius: 0 !important;
      background-color: #e6ebf5;
      border-bottom: 1px solid #cacfdb;
      border-right: 1px solid #cacfdb;

      &.ant-tabs-tab-active {
        background-color: #f7f8fa;
        border-bottom: 1px solid #f7f8fa;
      }
    }

    .ant-tabs-nav {
      margin-bottom: 0;
      background-color: #e6ebf5;
    }
  }

  .monitor-tabs-content {
    flex: 1;
    overflow-y: auto;
    padding: 0 32px 54px;

    &-title {
      position: relative;
      line-height: 24px;
      padding: 24px 0 16px 12px;

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 28px;
        width: 4px;
        height: 16px;
        background-color: @primary-color;
      }
      &-btns {
        float: right;
        margin-top: -3px;
        margin-left: 8px;
      }
    }

    &-sec {
      .monitor-market-item {
        display: inline-block;
        height: 32px;
        line-height: 32px;
        padding: 0 12px;
        border: solid 1px #cacfdb;
        border-radius: 2px;
        color: #5f677a;
        cursor: pointer;
        margin-right: 12px;
        margin-bottom: 16px;
        border-radius: 2px;

        &:hover {
          background-color: rgba(#e4e7ed, 0.7);
        }
      }
    }

    .ant-table-thead > tr > th {
      background: #f3f5fb;
      border-top: 1px solid #d2d8e6;
      border-bottom: 1px solid #d2d8e6;
      padding: 6px 4px;
      text-align: center;
    }
    .ant-table-tbody > tr > td {
      border-bottom: 1px solid #d2d8e6;
      padding: 6px 4px;
      text-align: center;
    }

    &-ip {
      cursor: pointer;
    }
    &-tag {
      border-radius: 2px;
      padding: 1px 7px;
      width: 60px;
      box-sizing: border-box;
      color: #fff;
      background-color: #439d75;
      font-size: 12px;
      text-align: center;
      display: inline-block;
    }
  }

  .monitor-card-item {
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;

    .ant-card-body {
      background-color: #fff;
      padding: 22px 32px;
    }

    &-title {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 20px;
    }

    &-content {
      line-height: 100px;
      display: flex;
      flex-direction: row;
    }

    &-val {
      display: inline-block;
      flex: 1;
      font-size: 24px;
    }

    &-chart {
      width: 100px;
      height: 100px;
    }
  }
}

.mode-table {
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;

  .ant-card-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: #fff;
  }

  .mode-table-item {
    width: 50%;
    min-height: 78px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:nth-child(1),
    &:nth-child(2) {
      border-bottom: solid 1px #e9e9e9;
    }

    &:nth-child(2) {
      border-left: solid 1px #e9e9e9;
    }

    &:last-child {
      border-left: solid 1px #e9e9e9;
    }

    .title {
      line-height: 22px;
      font-size: 14px;
      color: #8991a3;
      margin-bottom: 4px;
    }

    .value {
      font-size: 30px;
      line-height: 38px;
    }
  }
}
