
.safe-rule-wrap{
  .ant-card-body{
    padding: 10px 12px 10px 12px !important;
  }
}

.safe-rule-filter{
  padding: 0px !important;
  .ant-card-body{
    padding: 8px 16px !important;
    //background-color: greenyellow;
  }
}
