.deploy-content-compo {
  display: flex;
  flex-direction: row;
  padding: 0 16px 24px;
  height: 100%;
  overflow: hidden;
  .ant-tabs-tabpane{
    height: 100%;
  }

  &-body {
    flex: 1;
    height: 100%;
    overflow: auto;
    padding-right: 12px;
    border-right: solid 1px #d2d8e6;
    margin-right: 12px;
  }

  &-sider {
    width: 205px;
    height: 100%;
    overflow: auto;
  }
 
}
