// table form style
// @author CAIHUAZHI <moyan@come-future.com>
// @create 2021/06/06 16:38

.vc-table-form.ant-pro-table {
  .ant-card-body {
    padding-left: 0;
    padding-right: 0;
  }

  .ant-input-affix-wrapper {
    border-left: 0;
    border-right: 0;
  }

  .ant-table-wrapper + .ant-btn {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border-top: 0;
  }
}
