.cluster-resource-detail{
    display: flex;
    flex-direction: column;
    .table-wrapper{
        display: flex;
        flex-direction: column;
        flex:1;
        overflow: hidden;
        .ant-table-wrapper{
            // position: relative;
            overflow: auto;
        }
    }
   
    .batch-deletes{
        // position: absolute;
        // margin-top: -45px;
        // bottom: 0;
        // left: 0;
        // margin-bottom: 16px;
    }
    .search-form{
        border-bottom: 1px solid #ededed;
        padding-bottom: 6px;
        margin-bottom: 6px;
    }
    .ant-input-sm{
        padding: 0 7px !important;
    }
}