// .app-list-tree {
//   border: 1px solid cadetblue;
// }

.middleware-list-show {
    margin-left: 20px;
    display: flex;
    align-items: center;
    &::before {
      display: inline-block;
      content: '';
      margin-right: 8px;
      width: 4px;
      height: 18px;
      background: #1973cc;
    }
    .all-select-btn,.not-all-select-btn{
      padding: 2px 5px;
      border: 1px solid gainsboro;
      border-radius: 4px;
      font-size: smaller;
      cursor: pointer;

    }
    .all-select-btn{
      background-color: #4597fa;
    }
  }
  
  