.traffic-detail-right-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
        z-index: 1;

        color: ivory;

        background: var(--ant-primary-color);
        border-color: var(--ant-primary-color);
    }

}

.traffic-detail-right-content-wrap {
    padding: 12px 12px 12px 0px;
    .detail-wrapper {
        display: flex;
        flex-direction: column;
        height: calc(100%-77px);
    }
}