.vc-page-content {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 0 12px;

  &.is-flex {
    height: 100%;
    overflow: hidden;

    .vc-page-content-body {
      flex: 1;
      height: 100%;
      overflow: auto;

      &.x-relative {
        position: relative;
      }

      // 页面顶部的 card tab 样式
      .ant-card-body > .ant-tabs:first-child {
        flex: 0 0 auto;

        .ant-tabs-nav-list .ant-tabs-tab:first-child {
          border-left: 0;
        }

        + .tab-content {
          flex: 1 1 0;
          overflow: auto;
        }
      }

      // 唯一的 tab 样式
      .ant-card-body > .ant-tabs:only-child {
        height: 100%;

        .ant-tabs-content-holder {
          flex: 1 1 0;
        }

        .ant-tabs-content {
          height: 100%;
        }
      }
    }
  }

  &-breadcrumb {
    padding: 12px 0;
    line-height: 20px;
    font-size: 12px;
  }

  &-filter {
    margin-bottom: 12px;

    &.layout-compact .ant-card-body {
      padding: 0 20px;

      .ant-tabs-nav {
        margin-bottom: 0;
      }

      .ant-tabs-top > .ant-tabs-nav::before {
        border-bottom: 0;
      }
    }
  }

  .vc-page-row {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
  }

  .vc-slide-card {
    flex: 0 0 auto;
    height: 100%;
    margin-right: 12px;
    overflow: auto;
  }

  .ant-card.no-padding {
    .ant-card-body {
      display: flex;
      flex-direction: column;
      padding: 0;
      height: 100%;
    }
  }
}
