.ant-tag-geekblue:hover {
  cursor: pointer;
}
.ant-tag-red:hover {
  cursor: pointer;
}
.readed-title-wrap {
  color: gray;
  background: rgb(227, 238, 227);
  border-radius: 4px;
  padding: 2px;
}
.readed-content,
.readed-title {
  color: rgb(159, 167, 186);
}

.unReaded-title-wrap {
  color: rgb(61, 92, 177);
  background: rgb(201, 215, 243);
  border-radius: 4px;
  padding: 2px;
  cursor: pointer;
}
.message-caption {
  display: flex;
  justify-content: space-between;
}
