.header-container {
  display: none;
}

.vc-base-layout-slider {
  display: none;
}

.vc-page-content-breadcrumb {
  display: none;
}

.vc-page-content-filter {
  display: none;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: #615e5e;
}
.ant-select,
.ant-select-selector {
  background-color: #615e5e;
}
.result-log {
  display: inline-block;
  width: 100%;
  min-height: ~'calc(100vh - 90px)';
  // max-height: ~'calc(100vh - 45px)';
  // border-radius: 2px;
  // backgroundColor:'#060101'
  padding: 8px;
  font-size: 12px;
  // white-space: pre;
  overflow-y: auto;
  // border: 1px solid #cacfdb;
  background-color: #060101;
  margin-bottom: 24px;
}
