.table-form {
  .ant-form-inline .ant-form-item {
    height: 28px;
    margin-bottom: 16px;
  }
  .ant-space-align-center {
    align-items: initial;
  }
  .ant-card:nth-child(1) {
    margin-bottom: 16px;
  }
}
.page-content {
  display: flex;
  flex-direction: column;
  .page-top {
    height: calc(100vh - 76px);
    .page-top-form {
      display: flex;
      justify-content: space-between;
    }
  }
  .page-bottom {
    text-align: right;
  }
}
