.quality-control-task-list {
  .search-header {
  }

  .add-btn-container {
    display: flex;
    justify-content: flex-end;
    padding: 12px 0;
  }

  .task-list {
  }

  .can-operate-el {
    cursor: pointer;
  }
}
