@import '../../../../assets/styles/mixins.less';

.vc-page-content.is-flex .vc-page-content-body {
  // height: 81%;
  // overflow: auto;

  .node-mange-body {
    overflow: auto;

    .convertBoxHeight(height,780);
  }

  // overflow: auto;
}
// .add-node,
.add-equipment {
  padding-top: 2px;
}
.node-info {
  display: flex;
  justify-content: center;
  font-size: larger;
  // border: 1px solid rgb(219, 216, 216);
  background-color: rgb(245, 245, 245);
  font-weight: bold;
  margin-top: 6px;
  // height: .convertBoxHeight(height,389);
}
