.test-workspace-bug-manage-add-bug-drawer {
  .footer {
    display: flex;
    justify-content: flex-end;

    height: 55px;
    padding-right: 20px;
    border-top: 1px solid #d2d8e6;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .ml-12 {
    margin-left: 12px;
  }

  .ml-auto {
    margin-left: auto;
  }
}
