.test-workspace-bug-manage-add-bug-drawer {
  .footer {
    display: flex;
    justify-content: flex-end;

    height: 55px;
    padding-right: 20px;
    border-top: 1px solid #d2d8e6;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #fff;
  }

  .ml-12 {
    margin-left: 12px;
  }

  .ml-auto {
    margin-left: auto;
  }
}

.association-use-case-modal {
  .searchHeader {
    display: grid;
    grid-template-columns: 114px 1fr;
    margin-bottom: 12px;
  }

  .test-case-tree-select {
    width: 100%;

    .keywordHL {
      color: red;
    }
  }
}
