.test-workspace-bug-manage-add-bug-drawer {
  .ant-drawer-body {
    padding-bottom: 55px;
  }

  .footer {
    display: flex;
    justify-content: flex-end;

    height: 55px;
    padding-right: 20px;
    border-top: 1px solid #d2d8e6;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #fff;
  }

  .test-case-tree-select {
    width: 432px;
  }

  .ml-12 {
    margin-left: 12px;
  }

  .ml-auto {
    margin-left: auto;
  }
}

.association-use-case-modal {
  .searchHeader {
    display: grid;
    grid-template-columns: 114px 1fr;
    margin-bottom: 12px;
  }
}

.row-form-item {
  margin-bottom: 16px;

  .col-form-item {
    display: flex;
    align-items: center;

    .form-item-label {
      color: #5f677a;
      font-size: 14px;
    }

    .form-item-info {
      flex: 1;
      margin: 0;
      margin-left: 8px;
    }
  }
}
