.data-change-right-content{
    padding: 12px;
    height: 100%;
    .container-top {
        // background-color: #aaa;
        height: 50%;
        // padding: 8px;
      }
      .container-bottom{
        // background-color: rgb(185, 72, 72);
        // padding: 8px;
        height: 50%;
    
      }

}