.index-page {
  &-bg {
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 50px);
    box-sizing: border-box;
    text-align: center;
    padding-top: 40vh;
    img {
      max-width: 100%;
      max-width: 100%;
      height: 50vh;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 30vh;
    }
  }
}
