.test-workspace-test-plan-add-test-plan-modal {
  .test-case-tree-select {
    width: 100%;
  }

  .body-container {
    max-height: 450px;
    overflow: auto;
    margin-bottom: 55px;
  }

  .btn-container {
    display: flex;
    justify-content: flex-end;

    height: 55px;
    padding-right: 20px;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #fff;
    border-top: 1px solid #d2d8e6;
  }

  .ml-12 {
    margin-left: 12px;
  }
}
