.monitor-app-body {
    flex: 1;
    background-color: #f7f8fa;
    // box-shadow: 0px 2px 6px 0px rgba(11, 68, 133, 0.4);
    overflow-y: auto;

    .ant-card-body {
      padding: 0 24px 24px;
    }
    .monitor-tabs-content-title {
        position: relative;
        line-height: 24px;
        padding: 10px 16px 0px 20px;
    
        &:before {
          content: '';
          display: block;
          position: absolute;
          left: 10px;
          top: 12px;
          width: 4px;
          height: 18px;
          background-color: @primary-color;
        }
      }
      .ant-table-thead > tr > th {
    background: #f3f5fb;
    border-top: 1px solid #d2d8e6;
    border-bottom: 1px solid #d2d8e6;
    padding: 6px 4px;
    text-align: center;
  }
  .ant-table-tbody > tr > td {
    border-bottom: 1px solid #d2d8e6;
    padding: 6px 4px;
    text-align: center;
  }
  .ant-table-tbody > tr.ant-table-row {
    cursor: pointer;
    
  }
 
  .ant-table-cell-row-hover{
    background: #c8e5fc !important;
  }
  .ant-badge-status-dot {
    width: 12px;
    height: 12px;
  }
  .base-monitor-charts {
    // height:calc(calc(100% / 4) - 10px);
    flex: 1;
    width: 100%;
    margin: 6px;
    box-sizing: border-box;
    background-color: #fff;
    padding: 14px;
  }
  }