@prefix: sona-editor-img;

.@{prefix}-wrap {
  display: inline;
}

.@{prefix} {
  margin: 0 1px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 2px 2px #0689f3cc;
  }
}

.@{prefix}-selected {
  box-shadow: 0 0 1px 1px #0689f3;
}
