// .matrix-rich-editor-wrapper {
//   width: 100%;
//   height: 240px;
// }

.matrix-rich-editor-toolbar {
  height: 40px;
  min-height: 40px;
}

.matrix-rich-editor {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}
