.matrix-rich-editor-wrapper {
  .ant-spin-nested-loading {
    width: 100%;
    height: 100%;

    .ant-spin-container {
      height: 100%;
    }
  }
}

.matrix-rich-editor-toolbar {
  height: 80px;
  min-height: 80px;
}

.matrix-rich-editor {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}
