.antd-card-form {
  margin-bottom: 16px;
  .ant-form-inline .ant-form-item {
    margin-bottom: 16px;
  }
  .ant-space-align-center {
    align-items: initial;
  }
}

.extra-node-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
