.alarm-list-info {
  display: flex;
  background-color: #edf8f5;
  height: 24px;
  align-items: center;
  margin-bottom: 12px;
  justify-content: space-between;
}

.labels-info-content {
  color: rgb(13, 79, 201);
  padding-left: 10px;
}
