.version-info-description {
  .ant-descriptions-title,
  .bindApp-title h3 {
    display: flex;
    align-items: center;

    &::before {
      display: inline-block;
      content: '';
      margin-right: 8px;
      width: 4px;
      height: 18px;
      background: #1973cc;
    }
  }
}
