.table-wrapper{
    margin-top: 30px;
    max-width: 100%;
    overflow: auto;
 
    // .ant-drawer .ant-table-tbody>tr>th{
       
    // }
    .ant-table-thead >tr >th{
        white-space: nowrap;
    }
    .ant-table-tbody > tr > td{
        white-space: nowrap !important;
    }
}
.table-title{
    font-size: 13px;
    font-weight: 800;
}
.buttom-wrapper{
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}