.container-info {
  .container-info-title,
  .deployment-info-title,
  .ant-descriptions-title {
    display: flex;
    //   background-color: #f7f8fa;
    height: 24px;
    align-items: center;
    margin-bottom: 12px;

    &::before {
      display: inline-block;
      content: '';
      margin-right: 8px;
      width: 4px;
      height: 20px;
      background: #1973cc;
    }
  }
}
