// .modify-app-modal{
//     .modal-sql-container{
//         border:1px solid #f2f2f2
//     }
// }
.modal-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
}