// .modify-app-modal{
//     .modal-sql-container{
//         border:1px solid #f2f2f2
//     }
// }
.modal-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 18px 0px 18px;
    .grey-text{
        color: "gray";
    }
}
.modify-app-modal{
   
    .config-content,.sql-content{
       
        .version-title-content{
            background-color: rgba(200, 227, 253, 0.5);
            padding: 4px 12px;
            border-radius: 4px;
            font-size: 16px;
            margin-bottom: 2px !important;
        
        }
        >div+div{
            margin-top: 10px;
        }
    
    }
}

