.page-logger-alarm {
  .table-caption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;

    > h3 {
      font-size: 16px;
      margin-bottom: 0;
    }
  }
}
