.publish-detail-compo {
  position: relative;

  &__right-top-btns {
    position: absolute;
    top: 0;
    right: 0;
    display: 'flex';
    flex-wrap: nowrap;
    // width: 35em;

    .ant-btn {
      margin-left: 12px;
    }
  }

  .ant-descriptions-title {
    display: flex;
    align-items: center;

    &::before {
      display: inline-block;
      content: '';
      margin-right: 8px;
      width: 4px;
      height: 16px;
      background: #1973cc;
    }
  }
}
