
  
  .ticket-apply-iframe{
     .h2o_header-wrapper{
         display: none !important;
     } 
  }

    iframe {
        display: block;
        width: 100%;
        height: 100%;
        border: 1px solid #CACFDB;
       
      }

  