.recordAdd {
  .ant-form .ant-row.ant-form-item .ant-form-item-control {
    overflow: none;
  }
}

.ant-tag-geekblue:hover {
  cursor: pointer;
}

.form-cluster-name {
  display: flex;
  overflow: none !important;
  .ant-row .ant-form-item {
    width: 24vw;
  }
  .ant-input {
    width: 100% !important;
    overflow: none !important;
  }
}
