.noise-reduciton {
  // background-color: #d2d8e6;
}

.noise-table-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  justify-content: end;
  justify-content: end;
  margin-top: 20px;

  h3 {
    flex: 1;
    line-height: 32px;
    font-size: 16px;
    margin-bottom: 0;
  }
}
