.authority-manage-page{
  
    .ant-tabs-nav-wrap {
        background: #fff !important;
        .ant-tabs-nav-list {
          padding: 5px 10px !important;
        }
      }
      .ant-card-body {
        padding: 24px 16px 14px 16px !important;
      }
}
 .authority-manage-page .no-padding{
  .ant-tabs-nav-wrap {
    background: #fff !important;
    .ant-tabs-nav-list {
      padding: 5px 10px !important;
    }
  }
}