.authority-manage-page{
  
    .ant-tabs-nav-wrap {
        background: #fff !important;
        .ant-tabs-nav-list {
          padding: 5px 10px !important;
        }
      }
      .ant-card-body {
        padding: 10px 16px 8px 16px !important;
      }
}
