.env-list-content {
  .need-apply-button {
    background-color: rgb(189, 218, 235);
    padding: 3px;
    // border-radius: 4px;
    border-radius: 8px;
    font-size: small;
    white-space: nowrap;
    box-shadow: -3px 3px 0 hsl(197, 58%, 91%);
    &:hover {
      white-space: nowrap;
      background-color: #fafafa;
      cursor: pointer;
    }
  }
  .is-block-button {
    background-color: rgb(179, 15, 15);
    padding: 3px;
    color: white;
    font-size: small;
    border-radius: 8px;
    white-space: nowrap;

    // border-radius: 4px;
    box-shadow: -2px 2px 0 hsl(16, 54%, 46%);

    &:hover {
      background-color: #f1e0e0;
      cursor: pointer;
      color: #000;
      white-space: nowrap;
      box-shadow: -2px 2px 0 hsl(16, 76%, 84%);
    }
  }
  .approval-button {
    background-color: cadetblue;
    white-space: nowrap;
  }
  .ant-table-cell {
    Button.ant-switch.useNacos.ant-switch-checked {
      background: rgb(20, 153, 53);
    }
  }

  .ant-table-cell {
    Button.ant-switch.isBlock.ant-switch-checked {
      background: rgb(226, 5, 5);
    }
  }
  .ant-form-inline .ant-form-item {
    padding-bottom: 10px;
  }
}

// .ant-table-cell {
//   Button.ant-switch.needApply.ant-switch-checked {
//     background: #3abce0;
//   }
// }
