.ant-table-cell {
  Button.ant-switch.useNacos.ant-switch-checked {
    background: rgb(20, 153, 53);
  }
}

.ant-table-cell {
  Button.ant-switch.isBlock.ant-switch-checked {
    background: rgb(226, 5, 5);
  }
}

.ant-table-cell {
  Button.ant-switch.needApply.ant-switch-checked {
    background: #3abce0;
  }
}
.env-list {
  .ant-form-inline .ant-form-item {
    margin-bottom: 10px;
  }
}
