.test-workspace-test-case-left-tree {
  .search-header {
    display: grid;
    grid-template-columns: 120px 1fr;
    padding: 12px;

    .case-cate-search {
      .ant-input-group-addon {
        display: none;
      }
    }
  }

  .tree-container {
    padding: 0 12px;

    .custom-tree {
      flex: 1 1 0;
      overflow: auto;

      .ant-tree-indent-unit {
        width: 20px;
      }

      .ant-tree-switcher {
        width: 20px;
      }

      .ant-tree-node-content-wrapper.ant-tree-node-selected {
        background-color: transparent !important;
        transition: none !important;
      }

      .ant-tree-treenode-selected:hover::before,
      .ant-tree-treenode-selected::before {
        background-color: #c2e9ff;
      }

      .ant-tree-treenode {
        &:hover {
          background-color: #f3f5fb;
        }

        &.ant-tree-treenode-selected {
          background-color: #c2e9ff;
        }
      }

      .ant-tree-switcher-noop:empty {
        display: none;
      }

      .ant-tree-treenode .ant-tree-node-content-wrapper.ant-tree-node-selected {
        color: inherit;
      }

      .ant-tree-list-holder-inner .ant-tree-node-content-wrapper {
        overflow: hidden;
      }
    }

    .node-render {
      display: flex;

      .node-title {
        max-width: 100%;
      }

      &:hover > .oprate-btn-container {
        display: unset;
      }

      &:hover > .node-title {
        max-width: 60%;
      }

      .oprate-btn-container {
        margin-left: auto;
        display: none;

        .ant-btn-link {
          padding: 4px;
        }
      }
    }
  }
}

.case-cate-select-dropdown {
  width: fit-content !important;
}
