

  //--------------------------------------------
  .container-top {
    height: 50%;
    padding-bottom: 18px;
  }
  .container-bottom{
    height: 50%;

  }
  .left-content-title{
      background-color: rgb(236, 234, 234);
      padding: 8px;
      border-radius: 4px;

  }
  
  .schema-content-fields{
      margin-left: 16px;
      background-color: rgba(212, 231, 238,0.5);
      padding: 8px;
      border-radius: 4px;
  }
  .left-content-form{
       padding-top: 10px;
       .ant-form-item{
        margin-bottom: 4px;
       }
      .ant-form-item-label{
        padding-bottom: 0px;
    }
    
      [data-theme='compact'] .site-collapse-custom-collapse .site-collapse-custom-panel,
        .site-collapse-custom-collapse .site-collapse-custom-panel {
        margin-bottom: 2px;
        overflow: hidden;
        background: #f7f7f7;
        // background: #e9afaf;
        border: 0px;
        border-radius: 2px;
       .ant-collapse-header{
        padding: 6px 16px !important
          }
       .ant-collapse-content-box{
        padding-bottom: 0px !important;
        }
       &-content{
        margin-left: 22px;
    }
  }
  }
  .rest-btn{
    display: inline-block;
  
    padding: 4px 6px;
  
  }
  .tooltip-content{
    width: 100%;
    list-style-type: disc;
    color: rgb(39,93,124);
    white-space:break-spaces;

  }
  .close-tooltip-content{
    width: 100%;
   overflow: hidden;

  }