
// .page-dragger{
//     display: flex !important;
//     justify-content: flex-start !important;
   
//     // width: 1660px;
//     // flex-wrap: nowrap;

//     .left-content-dragger{
//         // position: absolute;
//         position: relative;
//         // width: 300px;
//         height: 100vh;
//         padding: 20px;
//         background-color: #E6E6FA;
//         overflow: hidden;
//         z-index: 1000;
        
//         flex-grow:1 !important;
//         &-ul{
//             >li{
//                 white-space: nowrap;
//             }
//         }
      
    
//     }
//     .draggable-box{
//         position: absolute;
//         top: 0;
//         width: 5px;
//         height: 100vh;
//         cursor: col-resize;
//         z-index: 1000;
    

//     }

//     .right-content-dragger{
//         height: 100vh;
//         padding: 20px;
//         background-color: rgb(215, 250, 175);
//         flex-grow:1 !important;
//         z-index: 100;
//     }
// }

  //--------------------------------------------
  .container-top {
    // background-color: #aaa;
    height: 50%;
    // padding: 8px;
  }
  .container-bottom{
    // background-color: rgb(185, 72, 72);
    // padding: 8px;
    height: 50%;

  }
  .left-content-title{
      background-color: rgb(236, 234, 234);
      padding: 8px;
      border-radius: 4px;

  }
  
  .schema-content-fields{
      margin-left: 16px;
      background-color: rgba(212, 231, 238,0.5);
      padding: 8px;
      border-radius: 4px;
  }
  .left-content-form{
       padding-top: 10px;
       .ant-form-item{
        margin-bottom: 4px;
       }
      .ant-form-item-label{
        padding-bottom: 0px;
    }
      [data-theme='compact'] .site-collapse-custom-collapse .site-collapse-custom-panel,
        .site-collapse-custom-collapse .site-collapse-custom-panel {
        margin-bottom: 2px;
        overflow: hidden;
        background: #f7f7f7;
        // background: #e9afaf;
        border: 0px;
        border-radius: 2px;
       .ant-collapse-header{
        padding: 6px 16px !important
          }
       .ant-collapse-content-box{
        padding-bottom: 0px !important;
        }
       //   height: 38px;
       &-content{
       // background-color: rgb(228, 241, 245);
        margin-left: 22px;
       // padding:6px 6px 6px 10px;
       // border-radius: 4px;
    }
  }
  }
  .rest-btn{
    display: inline-block;
    // cursor: pointer;
    // width: 20px;
    // border: 1px solid gainsboro;
    // border-radius: 4px;
  //   padding-left: 6px;
  //   padding-right: 6px;
    padding: 4px 6px;
    // font-size: small;
    // color: #69aff5;
    // font-weight: bold;
    // background-color: #2487eb;
    // margin-top: 20px;
   
  
  }