.source-code-edit-container {
  width: 100%;
  display: flex;
  gap: 30px;
  overflow: hidden !important;

  .edit-container {
    width: 486px;

    .select-container {
      margin-bottom: 12px;
      display: flex;

      .select-item-container {
        width: 165px;

        .select-item {
          width: 156px;
        }
      }
    }
  }

  .variable-pool {
    width: 300px;
    display: flex;
    flex-direction: column;

    .search-header {
      margin-bottom: 12px;
    }

    .variable-pool-table {
      flex: 1;
    }
  }
}
