<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= context.config.title %></title>
  <script src="<%= context.config.publicPath %>config.js"></script>
</head>
<body>
  <div id="root">
    <div style="position:fixed;top:40%;width:100%;text-align:center;color:#aaa;">
      <img src="<%= context.config.publicPath %>loading.gif" alt="">&nbsp;&nbsp;初始化中...
    </div>
  </div>
</body>
</html>
