.monaco-sql-editor-content{
    width: 100%;
    // padding: 4px;
  .monaco-sql-editor-title{
      height: 30px;
      // padding: 10px;
      &-wrapper{
       #one{
            background-color: #92c6fa;
  
        }
        #two{
            background-color: #FFA500	;
  
        }
        #three{
            background-color: #d8bdd6	;
  
        }
        #four{
            background-color: #7fad98	;
  
        }


      }
      &-btn{
          width: 20px;
          border: 1px solid gainsboro;
          border-radius: 4px;
        //   padding-left: 6px;
        //   padding-right: 6px;
          padding: 2px 6px;
          font-size: small;
        //   background-color: #6bc59b	;
          cursor: pointer;
          
      };
      
     
  }  
}