.ticket-filter-form {
  .fe-end-Select,
  .fe-end-Input {
    width: 140px;
  }
}

.ticket-table-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;

  h3 {
    flex: 1;
    line-height: 32px;
    font-size: 16px;
    margin-bottom: 0;
  }
}
