// .header-container {
//   display: none;
// }

// .vc-base-layout-slider {
//   display: none;
// }

//   .vc-page-content-breadcrumb {
//     display: none;
//   }

//   .vc-page-content-filter {
//     display: none;
//   }

.result-log {
  display: inline-block;
  width: 100%;
  min-height: ~'calc(100vh - 136px)';
  max-height: ~'calc(100vh - 136px)';
  font-size: 12px;
  // white-space: pre;
  overflow-y: auto;
  background-color: #292b2a;
}
.log-caption {
  display: flex;
  justify-content: space-between;
}
