.all-application-page {
  &__card {
    padding: 12px;
    width: 100%;
    background-color: #fff;
    // box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      // background-color: #fafafa;
      transition: box-shadow .3s;
      border: 1px solid #f0f0f0;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(0, 0, 0, 0.08);
    }

    &-header {
      font-size: 16px;
      font-weight: 500;
      // color: #000;
      color:#302f2f;
      line-height: 24px;
      margin-bottom: 5px;
      padding-right: 15px;
    }

    &-sub-header {
      font-size: 13px;
      height: 16px;
      font-weight: 400;
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 5px;
    }

    &-router {
      font-size: 13px;
      height: 15px;
      word-break: break-all;
      margin-bottom: 10px;
    }

    &-content {
      display: flex;
      justify-content: space-between;
      white-space: nowrap;
      overflow: hidden;
      margin-top: 12px;
      font-size: 14px;
      font-weight: 400;
      color: #5f677a;
      line-height: 22px;

      > div + div {
        margin-left: 8px;
      }

      > div:last-child {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
