.version-deploy-page{
    display: flex;
    flex-direction: row;
    padding: 0 16px 24px;
    height: 100%;
    overflow: auto;
    &-body{
      flex: 1;
      height: 100%;
      overflow: auto;
      padding-right: 12px;
      border-right: solid 1px #d2d8e6;
      margin-right: 12px;
      .ant-descriptions-title {
        display: flex;
        align-items: center;
    
        &::before {
          display: inline-block;
          content: '';
          margin-right: 8px;
          width: 4px;
          height: 16px;
          background: #3591ff;
        }
      }
     
    }
    &-sider{
      width: 205px;
      height: 100%;
      overflow: auto;

    }
  
}