.publish-record-compo {
    // margin-top: 30px;
  
    &__title {
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: 500;
      color: #000000;
      line-height: 24px;
  
      &::before {
        display: inline-block;
        content: '';
        margin-right: 8px;
        width: 4px;
        height: 16px;
        background: #3591ff;
      }
    }
  
    &__table {
      margin-top: 16px;
  
      .ant-table-thead > tr > th {
        background: #f3f5fb;
      }
    }
  
    &-row {
      display: block;
      color: #000;
  
      label {
        color: rgb(95, 103, 122);
      }
    }
  
    &-btns {
      text-align: center;
      padding: 12px 0;
    }
  }
  