.cluster-main{
    .search-wrapper{
        border-bottom: solid 1px #ededed;
        padding-bottom: 5px;
        display: flex;
        justify-content: space-between;
    }
    .ant-card-body{
        padding:12px;
        height: 100%;
        display: flex;
        flex-direction: column;
        &>:nth-child(3){
            flex: 1;
            overflow: auto;
        }
    }

    // .vc-page-content-body>.ant-card-body{
    //     height: 100%;
    //     display: flex;
    //     flex-direction: column;
    //     .ant-tabs{
    //         flex: 1;
    //         overflow: auto;
    //         display: flex;
    //         flex-direction: column;
    //         .ant-tabs-content-holder{
    //             flex: 1;
    //             overflow: auto;
    //         }
    //     }
    // }
    .tip-wrapper{
        display: flex;
        padding-top: 50px;
        justify-content: center;
        font-size: 18px;
        color: #00000040;
    }
}