.table-caption-application {
  display: flex;
  justify-content: space-between;
}
.version-detail-back {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}
.version-detail {
  .basic-info-description {
    background-color: rgb(243, 243, 245);
    padding: 8px;
  }
}
