.cluster-recovery-dashboard{
    .ant-card-body{
        background-color: rgb(238, 238, 238);
    }
    &-header{
        display: flex;
        justify-content:space-between;
        align-items: center;
    }
    
}