.launch-parameters-compo {
  height: 100%;
  overflow-y: auto;

  .m_l-1 {
    margin-left: -1px;
  }

  &__edit-table {
    .ant-card-body {
      padding: 0;
    }
  }

  &__btns {
    margin-top: 24px;
    text-align: right;

    .ant-btn {
      margin-left: 12px;
    }
  }
}
