.xterm {
  position: relative;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.xterm.focus,
.xterm:focus {
  outline: none;
}

.xterm .xterm-helpers {
  position: absolute;
  line-height: normal;
}

.xterm {
  cursor: text;
  width: 100%;
  height: 100%;
}

.xterm.enable-mouse-events {
  /* When mouse events are enabled (eg. tmux), revert to the standard pointer cursor */
  cursor: default;
}

.xterm.xterm-cursor-pointer {
  cursor: pointer;
}

.xterm.column-select.focus {
  /* Column selection mode */
  cursor: crosshair;
}

.xterm .xterm-accessibility,
.xterm .xterm-message {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  color: transparent;
}

.xterm .live-region {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.xterm-dim {
  opacity: 0.5;
}

.xterm-underline {
  text-decoration: underline;
}

.xterm-strikethrough {
  text-decoration: line-through;
}

.header-container {
  display: none;
}

.vc-base-layout-slider {
  display: none;
}

.vc-page-content-breadcrumb {
  display: none;
}

.vc-page-content-filter {
  display: none;
}

// .xterm-helper-textarea
.xterm-helper-textarea {
  // display: inline-blockds;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.xterm-char-measure-element,
.composition-view {
  opacity: 0;
  width: 100%;
  height: 100%;
}
