.branch-manage-page {
  height: 100%;
  .ant-card-body {
    height: 100%;
    .branch-section {
      overflow: auto;
      height: 50%;
      //   padding: 5px;
      .ant-table-wrapper {
        height: calc(100% - 84px);
        overflow: auto;
      }
      .ant-spin-nested-loading,
      .ant-spin-container {
        height: 100%;
        overflow: auto;
      }
      .ant-table {
        height: calc(100% - 45px);
        overflow: auto;
      }
    }
    .ant-divider-horizontal {
      margin: 5px 0;
    }
  }
 
}
.branch-section {
  height: 50%;
  .ant-table-row.selected {
    background-color: #cae0f7ab;
  }
  &_title {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    line-height: 24px;
    margin-bottom: 16px;
    &::before {
      display: inline-block;
      content: '';
      margin-right: 8px;
      width: 4px;
      height: 16px;
      background: #1973cc;
    }
  }
}

.demand-cell{
  white-space: nowrap;
  position: relative;
  display: flex;
  line-height: 26px;
 a{
  text-overflow: ellipsis;
  overflow: hidden;
  // display: flex;
  margin-right: 5px;
  max-width: 160px;
  // width: 90%;
 }
 span{
   font-size: 13px;
 }
 .ant-tag{
   right: -3px;
   position: absolute;
   padding:0px 2px;
   font-size: 12px;
 }
}

.branch-manage{
  .ant-input-group-wrapper .ant-input-group .ant-input-group-addon {
    background-color: #3591ff;
  }
}
