.test-filter-form {
  .ant-select,
  input {
    width: 140px;
  }
}

.test-page-content {
  flex: 1;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;

  &-sider {
    position: relative;
    width: 250px;
    margin-right: 12px;
    background-color: #fff;
    overflow: auto;
    padding: 12px;

    .vc-loading {
      position: absolute;
      width: 100%;
      height: 100%;
      padding-top: 50px;
      background-color: rgba(#fff, 0.5);
    }
  }

  &-body {
    flex: 1;
    background-color: #fff;
    padding: 24px;
  }
}

.test-table-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;

  .test-table-header-search {
    flex: 1;
    line-height: 32px;
    font-size: 16px;
    margin-bottom: 0;

    .ant-input-search {
      width: 320px;
    }
  }
}
