.test-filter-form {
  .fe-end-Select,
  .fe-end-Input {
    width: 140px;
  }
}

.test-page-content {
  flex: 1;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;

  &-sider {
    width: 250px;
    margin-right: 12px;
    background-color: #fff;
    overflow: auto;
  }

  &-body {
    flex: 1;
    background-color: #fff;
    padding: 24px;
  }
}

.test-table-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;

  .test-table-header-search {
    flex: 1;
    line-height: 32px;
    font-size: 16px;
    margin-bottom: 0;

    .ant-input-search {
      width: 320px;
    }
  }
}
