// case detail style
// @author CAIHUAZHI <moyan@come-future.com>
// @create 2021/05/30 18:35

.page-case-right-detail {
}

.case-detail-header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;

  > h2 {
    flex: 0 0 auto;
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.case-detail-caption {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  > h3 {
    flex: 1 1 0;
    margin: 0;
  }

  button + button {
    margin-left: 12px;
  }
}
