.template-editor-wrapper {
  h3 {
    margin-top: 20px;
  }

  .form-item-group {
    display: flex;

    > .ant-row {
      // flex: 0 0 45%;
      flex: 1 1 0;
    }
  }
}

.template-editor-footer {
  text-align: right;

  > button {
    margin-left: 12px;
  }
}
