// dashboard style
// @author CAIHUAZHI <moyan@come-future.com>
// @create 2021/07/21 15:09
.clusterTable {
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td,
  .ant-table tfoot > tr > th,
  .ant-table tfoot > tr > td {
    padding: 10px;
  }
}
.cluster-dashboards {
  // transform: scale(1.2,1.2);

  .action-groups {
    text-align: right;
    margin-bottom: 16px;
  }

  .ant-card-body {
    min-height: 100%;
    background-color: #f7f8fa;
  }

  .ant-card-body > section {
    min-height: 320px;
  }

  .section-group {
    display: flex;
    margin-bottom: 12px;
    overflow: hidden;

    > section {
      flex: 1 1 0;
      margin-bottom: 0;

      + section {
        margin-left: 12px;
      }

      &[style] {
        flex: 0 0 auto;
      }
    }
  }

  section {
    background-color: #fff;
    padding: 14px;
    overflow: hidden;

    &[data-loading='true'] {
      position: relative;

      &::after {
        content: 'loading...';
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        z-index: 10;
        color: transparent;
        animation: loadingFrame 600ms ease 0s 1 both;
        // background-color: rgba(0,0,0,.2);
        // color: #fff;
      }
    }

    > header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;

      > h3 {
        font-size: 14px;
        line-height: 20px;
        font-weight: bold;
        color: #000;
        margin: 0;
      }

      + div {
        height: ~'calc((100vh - 240px) / 2 - 84px)';
        max-height: 400px;
        min-height: 300px;
      }
    }
  }
}

@keyframes loadingFrame {
  0% {
    background-color: transparent;
    color: transparent;
  }

  100% {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
  }
}

// .clusterTable {
//   .ant-table-wrapper {
//     min-height: 320px !important;
//   }
// }
