.quality-control-overview {
  .line-chart-group {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    gap: 50px;

    border-bottom: 1px solid #666;
  }

  .rank-list-group {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    gap: 50px;
  }
}
