.publish-content-compo {
  margin-top: 30px;
  position: relative;

  &__title {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    line-height: 24px;

    &::before {
      display: inline-block;
      content: '';
      margin-right: 8px;
      width: 4px;
      height: 16px;
      background: #1973cc;
    }
  }

  &__steps {
    margin-top: 16px;
    padding: 24px 30px;
    background: #ffffff;
    border-radius: 2px;
    border: 1px solid #e4e7ed;
  }

  &__list {
    &-wrap {
      margin-top: 16px;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-text {
        font-size: 14px;
        font-weight: 400;
        color: #000000;
        line-height: 24px;
      }

      &-btns {
        .ant-btn {
          margin-left: 12px;
        }
      }
    }

    &-table {
      margin-top: 16px;

      .ant-table-thead > tr > th {
        background: #f3f5fb;
      }
    }
  }
}
