.ticket-filter-form {
  .fe-end-Select,
  .fe-end-Input {
    width: 140px;
  }
}

.ticket-table-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;

  h3 {
    flex: 1;
    line-height: 32px;
    font-size: 16px;
    margin-bottom: 0;
  }
}

.ticket-type-coms {
  width: 300px;
  display: flex;
  flex-direction: row;

  .ticket-type-select:first-child {
    margin-right: 12px;
  }
}

.ticket-notify {
  padding: 24px 0 24px 95px;
  font-size: 14px;

  h3 {
    color: #666;
    font-weight: bold;
    font-size: 14px;

    .ticket-notify-icon {
      margin-right: 6px;
      color: @primary-color;
    }
  }

  ul {
    li {
      font-size: 12px;
      line-height: 24px;
      color: #999;
      list-style: disc;
      list-style-position: inside;
    }
  }
}

.create-ticket-drawer {
  .ant-drawer-body {
    display: flex;
    flex-direction: column;
  }

  .ant-form {
    flex: 1 1 0;
  }
}
