.create-card-footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}


.update-title {
  display: flex;
  align-items: center;
  &::before {
    display: inline-block;
    content: '';
    margin-right: 8px;
    width: 4px;
    height: 20px;
    background: #3591ff;
  }
}
