.create-card-footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

.update-title {
  &::before {
    display: inline-block;
    content: '';
    margin-right: 8px;
    width: 4px;
    height: 18px;
    background: #1973cc;
  }
}
