.site-card-border-less-wrapper {
  padding: 3px;
  background: #ececec;
  //   height: 100%;
  // height: ~'calc(100vh - 175px)';
  // height:vh - 175px;
}
.content-Card {
  display: flex;
  justify-content: space-around;
}
.leftCard {
  flex: 0.5;
  // margin-right: 20vw;
}

.clusterAFlex {
  display: flex;
}
.clusterBFlex {
  display: flex;
  justify-content: space-around;
}
