.site-card-border-less-wrapper {
  // padding: 3px;
  background: #f1f1f1;
  height: 100%;
  // height: ~'calc(100vh - 175px)';
  // height:vh - 175px;
}
.content-Card {
  display: flex;
  // justify-content: space-around;
}
.leftCard {
  // flex: 0.5;
  padding-left: 2vw;
  // margin-right: 20vw;
}
.RightCard {
  flex: 1;
  padding-left: 2vw;
}

.clusterAFlex {
  display: flex;
  .ant-table-wrapper {
    margin-left: 1vw;
  }
}
.clusterBFlex {
  display: flex;
  .ant-table-wrapper {
    margin-left: 1vw;
  }

  // justify-content: space-around;
}
