.site-card-border-less-wrapper {
  padding: 30px;
  background: #ececec;
  //   height: 100%;
}
.content-Card {
  display: flex;
  justify-content: space-around;
}
.leftCard {
  flex: 0.8;
}
.clusterAFlex {
  display: flex;
}
.clusterBFlex {
  display: flex;
  justify-content: space-around;
}
