.step-content-form-item {
  label::before {
    display: inline-block;
    margin-right: 4px;
    color: #cc4631;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: '*';
  }
}

.drawer-btn-group {
  display: flex;
  justify-content: flex-end;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 52px;
  padding: 12px 20px;
  background-color: #fff;
  border-top: 1px solid #d2d8e6;

  .mgl-short {
    margin-left: 12px;
  }
}

.cardtype-case-desc-wrapper {
  width: 100%;
  display: flex;

  .step-desc {
    height: 100%;
    min-height: 203px;
    flex: 1;
  }

  .step-expected-results {
    height: 100%;
    min-height: 203px;
    flex: 1;
  }
}

.add-case-modal {
  width: 700px;
}

.add-case-form {
  margin-bottom: 60px;
}

.row-form-item {
  margin-bottom: 16px;

  .col-form-item {
    display: flex;
    align-items: center;

    .form-item-label {
      color: #5f677a;
      font-size: 14px;

      .import-identification {
        color: #db715c;
      }
    }

    .form-item-info {
      flex: 1;
      margin: 0;
    }

    .ml-41 {
      margin-left: 41px !important;
    }

    .ml-8 {
      margin-left: 8px !important;
    }
  }
}
