.content-bg-mask {
  position: absolute;
  opacity: 0.5;
  height: 100%;
  width: 96%;
  padding: 10px;
  background: linear-gradient(rgba(80, 105, 252, 0.4), #e9edf8) !important;

  filter: blur(8px);
  z-index: 4;
}

.banner {
  background-color: var(--color-bg-2);
  padding: 20px;
}

.wrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.left {
  width: calc(100% - 296px);
  margin-right: 16px;
}

.right {
  width: 420px;
}

.panel {
  background-color: var(--color-bg-2);
  border-radius: 4px;
  overflow: auto;
}
.dv-active-ring-chart .active-ring-info .active-ring-name {
  width: 100px;
  height: 30px;
  color: rgb(50, 151, 151) !important;
  text-align: center;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
// .dv-border-box-13{
//   padding: 30px !important;
// }
