.sql-content{
    .version-title-content{
        background-color: rgb(233, 233, 233);
        padding: 6px 14px;
        border-radius: 4px;
        font-size: larger;
    
    }
    >div+div{
        margin-top: 10px;
    }

}
