.sql-content{
    .version-title-content{
        background-color: rgba(232, 232, 233, 0.5);
        padding: 4px 12px;
        border-radius: 4px;
        font-size: 14px;
        margin-bottom: 2px !important;
    }
    >div+div{
        margin-top: 10px;
    }

}
