.second-party-pkg {
  height: 100%;
  background: #f7f8fa;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .ant-tabs-content-holder {
    flex: 1;
    height: 100%;
    overflow: hidden;
  }

  .ant-tabs-content {
    height: 100%;
  }

  &__tabs {
    & > .ant-tabs-nav .ant-tabs-tab {
      background: #e6ebf5;
      border: 1px solid #cacfdb;

      &.ant-tabs-tab-active {
        background: #f7f8fa;
        border-bottom-color: #f7f8fa;
      }
    }
  }
}
