.second-tabs-extra {
  display: flex;
  background-color: #e6ebf5;
  height: 100%;
  line-height: 39px;
  padding: 0px 5px;
  .tabs-extra {
    padding: 0 10px;
    height: 100%;
    line-height: 39px;
    background-color: #e6ebf5;
    align-items: center;
    // display: block;
  }
}
