.performance-market-wrapper {
  background: #e6ebf5;
  box-sizing: border-box;
  padding: 8px;

  .market-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > div {
      width: 49.5%;
      height: 258px;
      background: #fff;
      box-sizing: border-box;
      padding: 12px;
      display: flex;
      flex-direction: column;
    }

    .chart-title {
      font-size: 18px;
    }

    .chart-item {
      width: 100%;
      flex: 1;
    }
  }

  .mar-t-12 {
    margin-top: 12px;
  }
}
