.page-content {
  display: flex;
  flex-direction: column;
  .page-top {
    .page-top-form {
      display: flex;
      justify-content: space-between;
    }
  }
  .page-bottom {
    position: absolute;
    bottom: 16px;
    right: 16px;
  }
}
