.creat-version-button {
  float: right;
}

.version-manage {
  margin-top: 12px;
}
.ant-descriptions-title,
.caption-left {
  display: flex;

  height: 24px;
  align-items: center;
  margin-top: 12px;

  &::before {
    display: inline-block;
    content: '';
    margin-right: 8px;
    width: 4px;
    height: 18px;
    background: #1973cc;
  }
}
//   }
