.site-card-border-less-wrapper {
    background: #f1f1f1;
    height: 100%;
  }
  .content-Card {
    display: flex;
  }
  .leftCard {
    padding-left: 2vw;
  }
  .RightCard {
    flex: 1;
    padding-left: 2vw;
  }
  
  .clusterAFlex {
    display: flex;
    .ant-table-wrapper {
      margin-left: 1vw;
    }
  }
  .clusterBFlex {
    display: flex;
    .ant-table-wrapper {
      margin-left: 1vw;
    }

  }
  