@import '../../../assets/styles/mixins.less';


@media screen  and (max-width: 1440px) {
    .steps-page {


        /* 定义Gradient动画效果：初始时显示最右端，结束时显示最左端（向右滚动） */
        @keyframes Gradient {
            0% {
                background-position: 100% 100%;
            }
    
            100% {
                background-position: 0% 100%;
            }
        }
    
        .start-light {
            display: inline-block;
            width: 110px;
            height: 110px;
            border-radius: 50%;
            background: linear-gradient(-30deg, #91c0fd, rgb(172, 245, 204), #90e1ff, #6affdc);
            position: relative;
            box-shadow: rgb(204, 204, 204) 10px 10px 10px;
           
    
            .word-banner {
                font-size: 14px;
                position: absolute;
                top: 38px;
                left: 40px
            }
            .open-another{
                position: absolute;
                top: 230px;
                left:46px ;
            }
            .longger-word-banner {
                font-size: 14px;
                position: absolute;
                top: 40px;
                left: 26px
            }
    
            .long-word-banner {
                font-size: 14px;
                position: absolute;
                top: 32px;
                left: 26px;
                padding: 2px;
    
    
    
            }
    
    
            .light-line {
                display: inline-block;
                position: absolute;
                top: 42px;
                left: 116px;
                width: 120px;
                height: 320px;
            }
    
            /* 渐变流光效果线条，要将横向宽度设置为超过100%的值，否则无动画效果 */
            .line-block {
                position: relative;
                width: 100%;
                height: 10px;
                background: linear-gradient(-90deg,
                        #2ee1f8 1%, #8deed1 4%, transparent 12%, transparent 16%,
                        #2ee1f8 16%, #8deed1 19%, transparent 27%, transparent 33%,
                        #2ee1f8 33%, #8deed1 36%, transparent 44%, transparent 50%,
                        #2ee1f8 50%, #8deed1 53%, transparent 61%, transparent 66%,
                        #2ee1f8 66%, #8deed1 69%, transparent 77%, transparent 84%,
                        #2ee1f8 84%, #8deed1 87%, transparent 95%, transparent 100%);
                background-size: 200% 100%;
            }
    
            /* 指定使用Gradient动画，5s完成一次动画，匀速，无限循环 */
            .gradient {
                animation: Gradient 5s linear infinite;
                -webkit-animation: Gradient 5s linear infinite;
                -moz-animation: Gradient 5s linear infinite;
            }
    
            .triangle-right {
                position: absolute;
                width: 0;
                height: 0;
                border-top: 14px solid transparent;
                border-bottom: 14px solid transparent;
                border-left: 14px solid #8deed1;
                top: 40px;
                left: 230px;
            }
            .finish-line{
                display: inline-block;
                position: absolute;
                left: 116px;
                width: 120px;
                top: 48px;
                height: 10px;
                background-color:#85dffa;
    
            }
    
    
    
        }
    
    
    
        .start-gray {
            display: inline-block;
            width: 110px;
            height: 110px;
            border-radius: 50%;
            background-color: rgb(221, 224, 224);
            box-shadow: rgb(235, 234, 234) 6px 6px 10px;
            position: relative;
            .un-begin{
                display: inline-block;
                position: absolute;
                top: 48px;
                left: 116px;
                width: 118px;
                height: 10px;
                background-color: rgb(221, 224, 224);
    
            }
            .triangle-right{
                position: absolute;
                width: 0;
                height: 0;
                border-top: 14px solid transparent;
                border-bottom: 14px solid transparent;
                border-left: 14px solid  rgb(221, 224, 224);
                top: 40px;
                left: 226px;
    
            }
    
            .word-banner {
              
                font-size: 14px;
                position: absolute;
                color: white;
                top: 42px;
                left: 40px;
            }
    
            .longger-word-banner {
                font-size: 14px;
                position: absolute;
    
                color: white;
                top: 40px;
                left: 26px
            }
    
            .long-word-banner {
                font-size: 14px;
                position: absolute;
                top: 32px;
                color: white;
                left: 26px;
                padding: 2px;
    
    
    
            }
    
    
    
        }
        .start-begin{
            &:hover {
                transition: box-shadow .3s;
                border: 1px solid #f0f0f0;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(0, 0, 0, 0.08);
                cursor: pointer;
                
              }
        }
        .decorate-top{
            display: flex;
            justify-content: flex-start;
            padding-bottom: 90px;
        }
        .mdm-step,.target-step,.label-step,.sucess-step{
            margin-left: 140px !important;
        }
        .steps-wrapper{
            margin-top: 130px;
            overflow: auto;
            white-space: nowrap;
            margin-left: 30px;
        }
    
    
    
    }
    
  }





























// 屏幕大于 1440px 时应用该样式
@media screen and (min-width: 1440px) {
    .steps-page {
      /* 定义Gradient动画效果：初始时显示最右端，结束时显示最左端（向右滚动） */
      @keyframes Gradient {
        0% {
            background-position: 100% 100%;
        }

        100% {
            background-position: 0% 100%;
        }
    }
   
    .color-detail{
        color: rgb(196, 50, 50);

    }

    .start-light {
        display: inline-block;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        background: linear-gradient(-30deg, #91c0fd, rgb(172, 245, 204), #90e1ff, #6affdc);
        position: relative;
        box-shadow: rgb(204, 204, 204) 10px 10px 10px;
       

        .word-banner {
          
            font-size: 18px;
            position: absolute;

            top: 50px;
            left: 52px;
           // color: rgb(26, 52, 70);
        }

        .longger-word-banner {
            font-size: 18px;
            position: absolute;

          //  color: white;
            top: 50px;
            left: 38px;
        }

        .long-word-banner {
            font-size: 18px;
            position: absolute;
            top: 40px;
            left: 34px;
          //  color: white;
            //padding: 2px;



        }



        .light-line {
            display: inline-block;
            position: absolute;
            top: 46px;
            left: 156px;
            width: 148px;
            height: 320px;
        }

        /* 渐变流光效果线条，要将横向宽度设置为超过100%的值，否则无动画效果 */
        .line-block {
            position: relative;
            width: 100%;
            height: 10px;
            background: linear-gradient(-90deg,
                    #2ee1f8 1%, #8deed1 4%, transparent 12%, transparent 16%,
                    #2ee1f8 16%, #8deed1 19%, transparent 27%, transparent 33%,
                    #2ee1f8 33%, #8deed1 36%, transparent 44%, transparent 50%,
                    #2ee1f8 50%, #8deed1 53%, transparent 61%, transparent 66%,
                    #2ee1f8 66%, #8deed1 69%, transparent 77%, transparent 84%,
                    #2ee1f8 84%, #8deed1 87%, transparent 95%, transparent 100%);
            background-size: 200% 100%;
        }

        /* 指定使用Gradient动画，5s完成一次动画，匀速，无限循环 */
        .gradient {
            animation: Gradient 5s linear infinite;
            -webkit-animation: Gradient 5s linear infinite;
            -moz-animation: Gradient 5s linear infinite;
        }

        .triangle-right {
            position: absolute;
            width: 0;
            height: 0;
            border-top: 14px solid transparent;
            border-bottom: 14px solid transparent;
            border-left: 14px solid #8deed1;
            top: 42px;
            left: 296px;
        }
        .finish-line{
            display: inline-block;
            position: absolute;
            top: 50px;
            left: 156px;
            width: 148px;
            height: 10px;
            background-color:#85dffa;

        }



    }



    .start-gray {
        display: inline-block;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        background-color: rgb(221, 224, 224);
        box-shadow: rgb(235, 234, 234) 6px 6px 10px;
        position: relative;
        .un-begin{
            display: inline-block;
            position: absolute;
            top: 50px;
            left: 156px;
            width: 148px;
            height: 10px;
            background-color: rgb(221, 224, 224);

        }
        .triangle-right{
            position: absolute;
            width: 0;
            height: 0;
            border-top: 14px solid transparent;
            border-bottom: 14px solid transparent;
            border-left: 14px solid  rgb(221, 224, 224);
            top: 42px;
            left: 296px;

        }

        .word-banner {
          
            font-size: 18px;
            position: absolute;
            color: white;
            top: 50px;
            left: 52px;
        }

        .longger-word-banner {
            font-size: 18px;
            position: absolute;
            color: white;

            top: 50px;
            left: 38px;
        }

        .long-word-banner {
            font-size: 18px;
            position: absolute;
            top: 40px;
            left: 34px;
            //padding: 2px;

            color: white;

        }



    }
    .start-begin{
        &:hover {
            transition: box-shadow .3s;
            border: 1px solid #f0f0f0;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(0, 0, 0, 0.08);
            cursor: pointer;
            
          }
    }
.decorate-top{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 90px;
}
.mdm-step,.target-step,.label-step,.sucess-step{
    margin-left: 180px !important;
}
.steps-wrapper{
    margin-top: 130px;
    overflow: auto;
    white-space: nowrap;
    margin-left: 300px;
}

}
   
  }