.component-detail {
  .instruction {
    width: 100%;
    height: 48vh;
    margin: 4px;
    margin-top: 15px;
    border:1px solid #ededed;
    border-radius: 5px;
    overflow: auto;
  }
  .instruction-info {
    padding: 12px;
  }
  .component-info-description {
    .ant-descriptions-title {
      display: flex;
      height: 24px;
      align-items: center;

      &::before {
        display: inline-block;
        content: '';
        margin-right: 8px;
        width: 4px;
        height: 18px;
        background: #3591ff;
      }
    }
  }
}
