.result-modal-container {
  display: flex;
  justify-content: space-between;

  .resultList {
    width: 180px;
  }

  .resultInfo {
    width: 500px;

    .result-summarize {
      padding-bottom: 12px;
    }
  }

  .ant-menu-item {
    height: 60px !important;
    line-height: 20px !important;
    display: flex !important;
    align-items: center !important;
  }
}
