.fe-end-inlineform .fe-end-formitem {
  margin-bottom: 24px;

  .ant-form-item-control {
    position: relative;

    .ant-form-item-explain {
      position: absolute;
    }
  }

  .fe-end-InputNumber {
    width: 90px;
  }

  .fe-end-Input,
  .fe-end-Select,
  .fe-end-DatePicker {
    width: auto;
    min-width: 200px;
  }

  .fe-end-RangePicker {
    width: auto;
    width: 400px;
  }
}
