.project-env-detail {
  .table-caption {
    // padding-top: 10px;
    .caption-left {
      &::before {
        display: inline-block;
        content: '';
        margin-right: 8px;
        width: 4px;
        height: 16px;
        background: #1973cc;
      }
    }
  }
  .select-form {
    padding-bottom: 10px;
  }
}
