.view-log-modal{
    .publich-result-log-modal {
        display: inline-block;
        width: 100%;
        min-height: ~'calc(100vh - 150px)';
        max-height: ~'calc(100vh - 150px)';
        font-size: 12px;
        // white-space: pre;
        overflow-y: auto;
        background-color:#fff;
      }
      .log-caption {
        display: flex;
        justify-content: space-between;
      }
      .title-section{
          margin-right: 25px;
      }
      .modal-title{
        display: flex;
        align-items: center;
        justify-content: center;
    
        > h4 {
          color: #333;
          font-size: 18px;
          font-weight: bold;
          margin: 0 12px 0 0;
        }
    
        > span {
          color: #999;
        }
        .deploy-model-title {
          font-size: small;
        }
      }
}