.percentage {
  .border-box-content {
    // background: url(../../../../assets/imgs/BGthree.png);
    // background: url("@/assets/imgs/BGthree.png") no-repeat;
    background-size: 100% 100%;
  }
  .textShadow {
    font-size: 20px;
    // color:#e6f6f8;
    color: rgb(177, 255, 201);
    font-weight: 800;
    text-shadow: 0.2rem 0rem 0.5rem rgba(48, 112, 93, 0.3), -0.2rem 0rem 0.5rem rgba(3, 166, 224, 0.3),
      0rem 0.2rem 0.5rem rgba(3, 166, 224, 0.3), 0rem -0.2rem 0.5rem rgba(3, 166, 224, 0.3);
  }
}
body[fone-theme='foneDark'] {
  .percentage {
    .border-box-content {
      background: url(../../../../assets/imgs/BGthree.png);
      // background: url("@/assets/imgs/BGthree.png") no-repeat;
      background-size: 100% 100%;
    }
    .textShadow {
      font-size: 20px;
      // color:#e6f6f8;
      color: rgb(172, 252, 198);
      font-weight: 800;
      text-shadow: 0.2rem 0rem 0.5rem rgba(48, 112, 93, 0.3), -0.2rem 0rem 0.5rem rgba(3, 166, 224, 0.3),
        0rem 0.2rem 0.5rem rgba(3, 166, 224, 0.3), 0rem -0.2rem 0.5rem rgba(3, 166, 224, 0.3);
    }
  }
}
