.test-api-editor {
  .ant-drawer-body {
    padding: 20px 32px;
    background-color: #f7f8fa;
  }

  .ant-radio-group.flex-radio-group {
    > label {
      width: 48%;
      margin-bottom: 4px;
    }
  }
}
