.version-detail-page{
    .ant-descriptions-title {
        display: flex;
        align-items: center;
    
        &::before {
          display: inline-block;
          content: '';
          margin-right: 8px;
          width: 4px;
          height: 16px;
          background: #1973cc;
        }
      }
      .tab-container{
          margin-top: 10px;
          .table-top{
            .ant-input-sm {
                padding: 0 7px !important;
              }
              margin-bottom: 10px;
          }
          .ant-table-wrapper{
              &+div{
                  margin-top: 10px;
              }
          }
      }
}