// custom tree
// @author CAIHUAZHI <moyan@come-future.com>
// @create 2021/08/20 09:51

.custom-tree-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  height: 100%;
  overflow: hidden;

  .custom-tree-search {
    flex: 0 0 auto;
    margin-bottom: 8px;
  }
}

.ant-tree.custom-tree {
  flex: 1 1 0;
  overflow: auto;

  .ant-tree-indent-unit {
    width: 20px;
  }

  .ant-tree-switcher {
    width: 20px;
  }

  .ant-tree-node-content-wrapper.ant-tree-node-selected {
    background-color: transparent !important;
    transition: none !important;
  }

  .ant-tree-treenode-selected:hover::before,
  .ant-tree-treenode-selected::before {
    background-color: #c2e9ff;
  }

  .ant-tree-treenode {
    &:hover {
      background-color: #f3f5fb;
    }

    &.ant-tree-treenode-selected {
      background-color: #c2e9ff;
    }
  }

  .ant-tree-switcher-noop:empty {
    display: none;
  }

  .ant-tree-treenode .ant-tree-node-content-wrapper.ant-tree-node-selected {
    color: inherit;
  }

  .ant-tree-list-holder-inner .ant-tree-node-content-wrapper {
    overflow: hidden;
  }
}
