
  .operator-page{
    .operate-action{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .operate-table{
      display: flex;
      justify-content: space-around;
    }
    .operate-submit{
      float: right;
    }
  }