// left tree
// @author CAIHUAZHI <moyan@come-future.com>
// @create 2021/05/30 16:49

.page-scane-tree {
  padding: 16px 12px;

  .ant-card-body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
  }

  .scane-list-header {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    flex: 0 0 auto;

    .ant-input-group-wrapper {
      flex: 1 1 0;
      margin-right: 16px;
    }

    > .ant-select {
      flex: 1 1 0;
      // margin-right: 16px;
    }
  }

  // .ant-tree-treenode-selected {
  //   background-color: #c2e9ff;
  // }

  .spin-wrapper {
    text-align: center;
    padding-top: 60px;
  }

  .custom-tree-node {
    display: flex;

    &:hover > a {
      display: block;
    }

    > span {
      flex: 1 1 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    > a {
      display: none;
      color: inherit;
      flex: 0 0 auto;
      margin-left: 8px;
    }
  }

  // .ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
  //   background: transparent;
  // }
}
