
.app-traffic-page{
  
    
      &-header{
        .ant-card-body {
            padding: 10px 18px;
          }
      }
    .app-traffic-filter{
        display: flex;
        justify-content:space-between;
        align-items: center;
        &-center{
            font-size: larger;
            font-weight: bolder;
        }
    }

}

