.resource-info{
    height: 100%;
    overflow: auto;
    &-wrapper{
      border:1px solid #e0e0e0;
      padding: 10px;
      overflow: auto;
    }
    .ant-input-sm{
        padding: 0 7px !important;
        width: fit-content;
    }
}