.app-traffic-chart-modal{
    top: 60px;
    .ant-modal-body{
        background-color: #f3f1f14d;
        padding: 10px;
    }
    .chart-container{
        display: flex;
        flex-wrap: wrap;
        
    }
    .chart-title{
        font-size: 13px;
        font-weight: 600;
    }
    .time-wrapper{
        margin-left: 13px;
    }
    .chart-main{
        display: flex;
        background-color: #fff;
        padding: 15px;
        flex-direction: column;
        flex:1 1 45%;
        height: 299px;
        margin:6px
    }
}