.step-two {
  border-top: 1px solid #d2d8e6;
}
#button-add {
  border-top: none;
  border-left: none;
  border-right: none;
}
#button-add:hover {
  border-color: #cacfdb;
}
.rowClassName {
  background: #e6ebf5;
}
