.editor-header-title {
  display: flex;
  div {
    flex: 1 50%;
    max-width: 50%;
    padding: 5px 30px;
    font-size: 12px;
    font-weight: bold;
  }
}

.merge-ops-sence {
  // background: black;
  color: aquamarine;
}
.merge-ops {
  height: 20px;
  line-height: 18px;
  font-size: 12px;
  white-space: nowrap;
  color: #c2c2c2;
  .merge-item {
    padding: 0 5px;
    margin: 0;
    border: 0;
    background: transparent;
    &:hover {
      cursor: pointer;
      color: aqua;
    }
  }
}
