.version-list-page{
    .search-wrapper {
        border-bottom: solid 1px #ededed;
        padding-bottom: 5px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
      }
      
     
}