.monitor-log {
  .log-config-collapse {
    .ant-collapse-content-box {
      height: 360px;
    }

    .log-config {
      display: flex;
      height: 100%;

      // justify-content: space-around;
      .log-config-left {
        width: 44%;
        .ant-form,
        .ant-form-horizontal {
          margin-top: 30px;
        }
      }

      .log-config-right {
        width: 56%;
        // height: 100%;
        .log-board,
        .target-board {
          width: 100%;
          height: 96%;
          background-color: rgb(8, 29, 16);
          overflow: auto;
        }
      }
    }
  }
  .target-config-collapse {
    .ant-collapse-content-box {
      height: 490px;
    }
    .target-config {
      display: flex;
      height: 100%;
      .target-config-left {
        width: 44%;
        .target-item {
          &::before {
            display: inline-block;
            content: '';
            margin-right: 8px;
            width: 4px;
            height: 16px;
            background: #1973cc;
          }
        }
      }
    }

    .target-config-right {
      width: 56%;
      // height: 100%;
      .log-board,
      .target-board {
        width: 100%;
        height: 96%;
        background-color: rgb(8, 29, 16);
        overflow: auto;
      }
    }
  }
}
