.create-release-content {
  height: 100% !important;
  .create-card-content {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // width: 100%; calc(100% - 295px)
    height: 470px !important;
    background-color: rgb(163, 223, 163);
  }
  .create-card-footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
  }
}
