.create-release-content {
  height: 100% !important;
  .first-create-step,
  .second-create-step {
    .ant-form-item-control-input-content {
      display: flex;
    }
  }

  .create-release-content-form {
    display: flex !important;
    justify-content: center;
  }
  .create-card-content {
    height: 59vh;
    overflow-y: scroll;
  }

  .create-card-footer {
    display: flex;
    justify-content: flex-end;
  }
}

.all-chart-page {
  height: 100%;
  .vc-page-content-body {
    background-color: #f8f8f8;
  }

  &__card-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-pagination-wrap {
    margin: 16px 0;
    display: flex;
    justify-content: flex-end;
  }

  .ant-form-inline .ant-form-item {
    margin-bottom: 10px;
  }
}
