.test-workspace-plan-info {
  .left-card {
    padding: 12px;
  }

  .right-card {
    display: grid;
    grid-template-columns: 4fr 7fr;
    grid-template-rows: 1fr;
    gap: 20px;

    .case-select-container {
      .test-case-select-tree {
        height: 100%;
        margin-top: 12px;
        background-color: #ddd;
      }
    }

    .case-prop-title {
      line-height: 24px;
      margin-top: 10px;
    }
  }

  .test-case-tree-select {
    width: 100%;
  }

  .mt-1x {
    margin-top: 15px;
  }

  .mt-2x {
    margin-top: 30px;
  }

  .mt-3x {
    margin-top: 45px;
  }
}
