.app-status-detail {
  // flex-wrap: wrap;

  p {
    display: inline-flex;
    border: 1px solid #e6ebf5;
    padding: 0 8px;
    margin-right: 8px;
    margin-bottom: 4px;
    background-color: #e6ebf5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    > span {
      color: #666;

      > b {
        color: #222;
        font-weight: normal;
      }
    }

    > span + span {
      margin-left: 8px;
      border-left: 1px solid #ccc;
      padding-left: 8px;
    }

    &.status-add {
      border-style: dashed;
      text-align: center;
      background-color: transparent;
      color: #666;
      cursor: pointer;

      &:hover {
        background-color: #eee;
      }
    }
  }
}
