.nacos-manage-page{
  
    // .ant-tabs-nav-wrap {
    //     background: #fff !important;
    //     .ant-tabs-nav-list {
    //       padding: 4px 8px !important;
    //     }
    //   }
    //   .ant-card-body {
    //     padding: 18px 12px 10px 12px !important;
    //   }
   
}
.nacos-config-wrap{
  .ant-card-body{
    padding: 10px 12px 10px 12px !important;
  }
}

.nacos-config-filter{
  padding: 0px !important;
  .ant-card-body{
    padding: 14px !important;
  }
}
//  .nacos-manage-page .no-padding{
//   .ant-tabs-nav-wrap {
//     background: #fff !important;
//     .ant-tabs-nav-list {
//       padding: 5px 10px !important;
//     }
//   }
// }