// exec result style
// @author CAIHUAZHI <moyan@come-future.com>
// @create 2021/08/16 15:41

.exec-result-container {
  position: relative;

  > pre {
    padding-bottom: 32px;
  }

  .switch-wrap {
    position: absolute;
    z-index: 100;
    bottom: 8px;
    right: 8px;
  }
}
