.user-page{
    .user-action{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .user-table{
        display: flex;
        justify-content: space-around;
        // >div+div{
        //     margin-left: 10;
            
        // }
      }
      .user-submit{
        float: right;
      }
}