.flex-column{
    display: flex;
    flex-direction: column;
}
.item-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-wrapper{
    max-height: 400px;
    overflow: auto;
    .ant-form .ant-row.ant-form-item{
        // flex-direction: ;
        .ant-form-item-label{
            text-align: center;
        }
       
    }
    .v-item{
        flex-direction: column;
        align-items: center;
    }
    .ant-space-item{
        align-self: end;
        line-height: 52px;
        .tag-icon{
            vertical-align: middle;
        }
    }
   
}
