.load-tag-wrapper {
  max-height: 350px;
  overflow: auto;
  .ant-form .ant-row.ant-form-item {
    flex-direction: column;
    // margin:0px;
    .ant-form-item-label {
      text-align: center;
    }
  }
  // .ant-form .ant-row.ant-form-item{
  //     // flex-direction: ;
  //     .ant-form-item-label{
  //         text-align: center;
  //     }

  // }
  .v-item .ant-row.ant-form-item-row {
    flex-direction: column;
    align-items: center;
  }
  .ant-space-item {
    align-self: end;
    line-height: 52px;
    .tag-icon {
      vertical-align: middle;
    }
  }
}
