// 全局样式
// @author Pluto <huarse@gmail.com>
// @create 2020/06/03 01:31

@import './variables';
@import './mixins.less';
html,
body {
  height: 100%;
  background-color: #f0f2f5;
}

body {
  font-family: 'Alibaba Sans', -apple-system, 'PingFang SC', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:focus {
  text-decoration: none;
}

#root {
  height: 100%;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-inline {
  display: inline-flex;
  align-items: center;
}

.flex,
.flex-inline {
  > button + button,
  > a + a {
    margin-left: 8px;
  }
}

.flex-air {
  flex: 1 1 0;
}

.flex-bt {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.action-cell {
  button + button,
  a + a {
    margin-left: 12px;
  }

  [data-disabled='true'] {
    color: #999;
  }
}

.text-nowrap {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ellipsis-span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

hr {
  margin: 20px 0;
  border-top: 0;
  border-bottom: 1px solid #eee;
}

/// ================= antd fix
.ant-form.compact-form {
  .ant-form-item {
    margin-bottom: 16px;
  }
}

.ant-form .ant-row.ant-form-item {
  flex-wrap: nowrap;

  .ant-form-item-control {
    overflow: hidden;
  }
}
.nesting-form-item {
  .ant-form-item-label > {
    ::before {
      display: inline-block;
      margin-right: 4px;
      color: #ff4d4f;
      font-size: 14px;
      font-family: SimSun, sans-serif;
      line-height: 1;
      content: '*';
    }
  }
}

.table-caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;

  > .caption-left,
  > .caption-right {
    display: flex;
    align-items: center;

    > a,
    > span {
      white-space: nowrap;
    }

    > a + a,
    > button + button {
      margin-left: 12px;
    }
  }

  > h3,
  .caption-left > h3 {
    font-size: 16px;
    margin-bottom: 0;
    white-space: nowrap;
  }

  > h4,
  .caption-left > h4 {
    font-size: 14px;
    margin-bottom: 0;
    color: #222;
    white-space: nowrap;
    font-weight: normal;
  }
}

.ant-form + .table-caption {
  margin-top: 24px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.drawer-custom-footer,
.drawer-footer {
  text-align: right;

  button + button {
    margin-left: 12px;
  }
}

.matrix-style-scoped a.ant-btn {
  line-height: 26px;
}

.ant-form-item-extra {
  padding-top: 6px;
}

.block-loading,
.block-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.ant-input-search .ant-input-affix-wrapper {
  padding-top: 2px;
  padding-bottom: 2px;
}
.ant-tree-select-dropdown .ant-input {
  padding: 0px 0px !important;
}

.ant-descriptions-bordered.fixed .ant-descriptions-view > table {
  table-layout: fixed !important;
}

// ------ common

.pre-block {
  height: 320px;
  border: 1px solid #cacfdb;
  background-color: #fafafa;
  border-radius: 2px;
  padding: 8px;
  font-size: 12px;
  white-space: pre-wrap;
  overflow: auto;

  &.pre-line {
    white-space: pre;
  }

  &[data-status='error'] {
    border-color: red;
    color: red;
  }
}

.custom-table-holder {
  padding: 40px 20px;
  color: #789;
}

.ml10 {
  margin-left: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-end {
  display: flex;
  justify-content: end;
  align-items: end;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
}
.descriptions-title {
  display: flex;
  height: 24px;
  align-items: center;
  margin-bottom: 12px;

  &::before {
    display: inline-block;
    content: '';
    margin-right: 8px;
    width: 4px;
    height: 20px;
    background: #3591ff;
  }
}
.ant-input-search-button {
  height: 32px;
}

.page-top-search{
    border-bottom: solid 1px #ededed;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
