// 全局样式
// @author Pluto <huarse@gmail.com>
// @create 2020/06/03 01:31

@import './variables';

html,
body {
  height: 100%;
  background-color: #f0f2f5;
}

body {
  font-family: 'Alibaba Sans', -apple-system, 'PingFang SC', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:focus {
  text-decoration: none;
}

#root {
  height: 100%;
}

.flex-inline {
  display: inline-flex;
  align-items: center;
}

.flex-air {
  flex: 1 1 0;
}

.flex-bt {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.action-cell {
  button + button,
  a + a {
    margin-left: 12px;
  }

  [data-disabled='true'] {
    color: #999;
  }
}

.text-nowrap {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ellipsis-span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

hr {
  margin: 20px 0;
  border-top: 0;
  border-bottom: 1px solid #eee;
}

/// ================= antd fix
.ant-form.compact-form {
  .ant-form-item {
    margin-bottom: 16px;
  }
}

.table-caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;

  > h3 {
    font-size: 16px;
    margin-bottom: 0;
  }
}

.ant-form + .table-caption {
  margin-top: 24px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.drawer-custom-footer {
  text-align: right;

  button + button {
    margin-left: 12px;
  }
}

.matrix-style-scoped a.ant-btn {
  line-height: 26px;
}

.ant-form-item-extra {
  padding-top: 6px;
}

.ant-tree.custom-tree {
  flex: 1 1 0;
  overflow: auto;

  .ant-tree-indent-unit {
    width: 20px;
  }

  .ant-tree-switcher {
    width: 20px;
  }

  .ant-tree-node-content-wrapper.ant-tree-node-selected {
    background-color: transparent !important;
    transition: none !important;
  }

  .ant-tree-treenode-selected:hover::before,
  .ant-tree-treenode-selected::before {
    background-color: #c2e9ff;
  }

  .ant-tree-treenode {
    &:hover {
      background-color: #f3f5fb;
    }

    &.ant-tree-treenode-selected {
      background-color: #c2e9ff;
    }
  }

  .ant-tree-switcher-noop:empty {
    display: none;
  }

  .ant-tree-treenode .ant-tree-node-content-wrapper.ant-tree-node-selected {
    color: inherit;
  }

  .ant-tree-list-holder-inner .ant-tree-node-content-wrapper {
    overflow: hidden;
  }
}
