// 全局通用变量
// @author Pluto <huarse@gmail.com>
// @create 2020/06/03 01:36

@color-white: #fff;
@color-dark: #333640;
@color-black: #000;
@color-orange: #ff9300;
@color-red: #ff5040;
@color-cherry: #d0021b;
@color-pink: #f58586;
@color-yellow: #ff0;
@color-green: #009c00;
@color-blue: #09f;
@color-sky: #00b7d3;
@color-grass: #a9b8b7;

@color-primary: #1890ff;
@color-info: #2062f9;
@color-warning: @color-orange;
@color-danger: @color-red;
@color-error: @color-red;
@color-success: @color-green;

@color-border: #e0e0e0;
