.cluster-resource-detail{
    // position: relative;
    .ant-table-wrapper{
        position: relative;
    }
    .batch-deletes{
        position: absolute;
        margin-top: -45px;
        // bottom: 0;
        // left: 0;
        // margin-bottom: 16px;
    }
    .search-form{
        border-bottom: 1px solid #ededed;
        padding-bottom: 6px;
        margin-bottom: 6px;
    }
    .ant-input-sm{
        padding: 0 7px !important;
    }
}