.load-detail-wrapper{
    overflow-y: auto;
    .title{
        font-weight: 600;
        margin-top: 10px;
    }
    .flex-wrapper{
        display: flex;
        justify-content: space-between;
        margin: 10px 0px;
        align-items: center;
    }
    .tag-container{
        display: flex;
    }
    .tag-wrapper{
        border:1px solid #c4bfbf;
        padding:10px;
        margin-bottom: 10px;
        min-height: 80px;
    }
    .ant-table-content{
        overflow-x: auto;
    }
}