.info-alert{
    width: 100%;
    background-color: rgb(229, 243, 248);
    padding: 4px;
    >p{
       width: 100%;
       overflow:hidden; 
       padding-left: 6px;
       white-space: nowrap;
       text-overflow: ellipsis;
    }
}