.info-alert{
    width: 100%;
    background-color: rgb(229, 243, 248);
    padding: 4px;
    >p{
       width: 100%;
       overflow:hidden; 
       padding-left: 6px;
       white-space: nowrap;
       text-overflow: ellipsis;
    }
}
.change-apply-form{
    .ant-form-item{
        margin-bottom: 4px;
    }
   .ant-form-item-label{
        padding-bottom: 0px;
    }

}
