@import '../../../../../assets/styles/mixins.less';
.ant-transfer {
  display: flex;

  .ant-transfer-list {
    .convertBoxWidth(width,490);
    .convertBoxHeight(height,520);
  }
  .ant-ribbon-wrapper {
    display: flex;
    align-items: center;
    .transfer-text-fronted,
    .transfer-text-backend {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      display: inline-block;
      .convertBoxWidth(width,250);

      &:hover {
        text-overflow: inherit;
        overflow: visible;
        //  overflow: scroll;
        white-space: pre-line;
      }
    }

    height: 30px;
  }
  .ant-transfer-operation {
    width: 30px;
  }
}
.drawer-environ-footer {
  display: flex;
  justify-content: flex-end;
}
.ant-ribbon.ant-ribbon-placement-end {
  right: 8px;
  border-bottom-right-radius: 0;
}
.ant-ribbon-wrapper {
  .ant-ribbon {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 8px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum', 'tnum';
    position: absolute;
    top: 0px;
    height: 22px;
    padding: 0 8px;
    color: #fff;
    line-height: 18px;
    white-space: nowrap;
    // background-color: #1973CC;
    border-radius: 2px;
  }
}
.block-data-info {
  display: flex;
  // .convertBoxWidth(width,810);
  // background-color: #f7f8fa;
  background-color: #edf8f5;
  height: 24px;
  align-items: center;
  margin-bottom: 12px;

  // &::before {
  //   display: inline-block;
  //   content: '';
  //   margin-right: 8px;
  //   width: 4px;
  //   height: 24px;
  //   background: #1973cc;
  // }
}
