.monitor-business-wrapper {
  .ant-tabs-nav-wrap {
    background: #fff;
    .ant-tabs-nav-list {
      padding: 5px 10px;
    }
  }
  .ant-card-body {
    padding: 24px 16px 14px 16px;
  }
  .ant-collapse-item-disabled {
    .ant-collapse-header {
      cursor: default;
      color: rgba(0, 0, 0, 0.85);
    }
  }
}
