@import '../../../../assets/styles/mixins.less';

.volume-manage {
  .convertBoxHeight(height,810) !important;
}
.volume-manage-body {
  overflow: auto;
}

.volume-detail-info {
  display: flex;
  justify-content: space-between;
}
