.trace-detail {
  height: 100%;
}

.trace-detail-page {
  .detail-top {
    display: flex;
    justify-content: space-between;
  }

  .detail-main {
    display: flex;
    padding-top: 10px;
    border-top: 1px solid #c6c3c3;
  }

  .ant-card-body {
    height: 100%;
    padding: 12px;
  }

  .ant-divider-horizontal {
    margin: 10px 0;
  }

  .page-resizable .resizable-right,
  .trace-wrapper {
    height: 100%;
  }

  .trace-display {
    height: calc(100% - 55px);
    overflow: auto;
    padding-bottom: 20px;
  }
}
