.tracking-page {
  .tag-card {
    width: 100%;
    border: 1px solid #d2d8e6;
    border-top: none;
    background-color: #fff;
    height: 40px;
    padding: 10px 24px;
    margin-top: -12px;
    margin-bottom: 12px;
  }
  .tracking-table-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;

    h3 {
      flex: 1;
      line-height: 32px;
      font-size: 16px;
      margin-bottom: 0;
    }
  }
}
