.extraStyleTime {
  .ant-form-item-control-input-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.table-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  .ant-form-item-label {
    text-align: left;
  }
}
