.editable-table {
  .ant-table-footer {
    padding: 0 !important;
  }

  .text-area-container {
    position: relative;
    overflow: hidden;

    display: flex;
    height: 100%;

    .text-area {
      flex: 1;
      height: 100%;
    }
  }
}
