// less 文件
.monitor-app-table {
  height: 100%;
  display: flex;
  flex-direction: column;
  .monitor-app-body {
    flex: 1;
    background-color: #f7f8fa;
    // box-shadow: 0px 2px 6px 0px rgba(11, 68, 133, 0.4);
    overflow-y: auto;

    .ant-card-body {
      padding: 0 24px 24px;
    }
  }
  .monitor-tabs-content-title {
    position: relative;
    line-height: 24px;
    padding: 24px 12px 16px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 28px;
      width: 4px;
      height: 16px;
      background-color: @primary-color;
    }
  }

  .monitor-app-filter {
    .ant-card-body {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .ant-select {
      width: 220px;
    }

    .monitor-filter-form {
      flex: 1;
    }

    .monitor-time-select {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      .ant-select-selection-item {
        text-overflow: inherit;
      }
    }
  }
  .ant-table-thead > tr > th {
    background: #f3f5fb;
    border-top: 1px solid #d2d8e6;
    border-bottom: 1px solid #d2d8e6;
    padding: 6px 4px;
    text-align: center;
  }
  .ant-table-tbody > tr > td {
    border-bottom: 1px solid #d2d8e6;
    padding: 6px 4px;
    text-align: center;
  }
  .ant-table-tbody > tr.ant-table-row {
    cursor: pointer;
  }
  .ant-badge-status-dot {
    width: 12px;
    height: 12px;
  }
}

// app-card
.monitor-app-card {
  padding: 32px;
  background-color: #fff;
  border-radius: 2px;

  .app-header {
    height: 24px;
    line-height: 24px;
    display: flex;
    flex-direction: row;

    .app-title {
      flex: 1;
      font-size: 14px;
    }

    .app-operate-icon {
      margin-right: 16px;
    }

    .app-operate-switch {
      font-size: 12px;
    }
  }

  .app-content {
    height: 200px;
    padding-top: 12px;
  }
}
.monitor-time-select {
  .ant-select-selection-item {
    text-overflow: inherit;
  }
}

.base-monitor-charts {
  // height:calc(calc(100% / 4) - 10px);
  width: 100%;
  margin: 6px;
  box-sizing: border-box;
  background-color: #fff;
}
