.flex-radio-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 4px;

  > span:last-child {
    display: inline-flex;
    white-space: nowrap;

    > span:first-child {
      flex: 0 0 220px;
    }
  }
}
